---
$schema: /app-interface/prometheus-rule-test-1.yml

rule_files:
- /observability/prometheusrules/app-sre-contract.prometheusrules.yaml

evaluation_interval: 1m

tests:
- interval: 1m
  input_series:
  - series: kube_deployment_spec_replicas{job="kube-state-metrics",namespace="tenant-ok",deployment="good"}
    values: 3+0x60
  - series: kube_deployment_spec_replicas{job="kube-state-metrics",namespace="tenant-ko",deployment="bad"}
    values: 2+0x60
  - series: kube_statefulset_replicas{job="kube-state-metrics",namespace="tenant-ko",statefulset="bad"}
    values: 2+0x60

  alert_rule_test:
  - eval_time: 1h
    alertname: AppSREContractDeploymentReplicasUnder3
    exp_alerts:
    - exp_labels:
        job: kube-state-metrics
        namespace: tenant-ko
        deployment: bad
        severity: medium
        service: app-sre-observability
      exp_annotations:
        runbook: https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/sop/app-sre-contract-alerts.md
        message: "Deployment tenant-ko/bad has 2 replicas (< 3)"
  - eval_time: 1h
    alertname: AppSREContractStatefulSetReplicasUnder3
    exp_alerts:
    - exp_labels:
        job: kube-state-metrics
        namespace: tenant-ko
        statefulset: bad
        severity: medium
        service: app-sre-observability
      exp_annotations:
        runbook: https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/sop/app-sre-contract-alerts.md
        message: "StatefulSet tenant-ko/bad has 2 replicas (< 3)"
