---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: assisted-installer-events
spec:
  groups:
  - name: assisted-installer-events_alerts
    rules:
    - alert: Assisted Installer Events - Too many restarts - Stage
      annotations:
        message: "Too many restarts for assisted-installer-events pod"
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/assisted-installer/sop#assisted-installer-events-is-down"
      expr: increase(kube_pod_container_status_restarts_total{container="assisted-events-scrape"}[15m]) > 0
      for: 30m
      labels:
          severity: info
          service: assisted-installer
    - alert: Assisted Installer Events - No CPU activity detected - Stage
      annotations:
        message: "Assisted Installer Events - No CPU activity in the last hour detected for pod {{ $labels.pod }}"
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/assisted-installer/sop#assisted-installer-events-no-cpu-activity"
      expr: sum(increase(container_cpu_usage_seconds_total{container="assisted-events-scrape"}[1h])) by (pod) == 0
      for: 15m
      labels:
          severity: info
          service: assisted-installer
    # - alert: Assisted Installer Events - Assisted service events ingestion greatly reduced - Stage
    #   annotations:
    #     message: "Assisted Installer Events - Assisted service events ingestion greatly reduced for index .events (CCX export)"
    #     runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/assisted-installer/sop#assisted-installer-events-ingestion-reduced"
    #   expr: ((increase(assisted_installer_events_max_event_id{namespace="assisted-installer-stage"}[1h]) + 1) / on (namespace) (sum(increase(elasticsearch_indices_shards_docs{index=".events",primary="true"}[1h])) by (namespace) + 1)) > 2
    #   for: 4h
    #   labels:
    #       severity: info
    #       service: assisted-installer

    - alert: Assisted Installer Opensearch - Opensearch (stage) disk is getting full
      annotations:
        message: "Assisted Installer Opensearch - Opensearch (stage) disk is getting full (node {{ $labels.name }} is {{ $value }}% full) <!subteam^S01T3MZGJ9M>"
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/assisted-installer/sop#opensearch-disk-filling-up"
      expr: elasticsearch_filesystem_data_size_bytes{es_data_node="true",namespace="assisted-installer-stage"} / (elasticsearch_filesystem_data_size_bytes{es_data_node="true",namespace="assisted-installer-stage"} + elasticsearch_filesystem_data_available_bytes{es_data_node="true",namespace="assisted-installer-stage"}) * 100 > 70
      for: 30m
      labels:
          severity: warning
          service: assisted-installer

    - alert: Assisted Installer Opensearch - Opensearch (stage) disk is above watermark
      annotations:
        message: "Assisted Installer Opensearch - Opensearch (stage) disk is above watermark (node {{ $labels.name }} is {{ $value }}% full) <!subteam^S01T3MZGJ9M>"
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/assisted-installer/sop#opensearch-disk-filling-up"
      expr: elasticsearch_filesystem_data_size_bytes{es_data_node="true",namespace="assisted-installer-stage"} / (elasticsearch_filesystem_data_size_bytes{es_data_node="true",namespace="assisted-installer-stage"} + elasticsearch_filesystem_data_available_bytes{es_data_node="true",namespace="assisted-installer-stage"}) * 100 > 80
      for: 15m
      labels:
          severity: warning
          service: assisted-installer
