$schema: /app-interface/prometheus-rule-test-1.yml

rule_files:
- /observability/prometheusrules/assisted-installer-events-stage.prometheusrules.yaml

evaluation_interval: 1m

tests:
- interval: 5m
  input_series:
  - series: kube_pod_container_status_restarts_total{container="assisted-events-scrape"}
    values: 0 0 0 0 0 0 1 2 3 4 5 6 6 7 8 9 9 9 9 9 9 9 9 9

  alert_rule_test:
  # Test the no alert case
  - eval_time: 30m
    alertname: Assisted Installer Events - Too many restarts - Stage
    exp_alerts:
  # Test alert for continuously growing
  - eval_time: 60m
    alertname: Assisted Installer Events - Too many restarts - Stage
    exp_alerts:
    - exp_labels:
        service: assisted-installer
        severity: info
        container: assisted-events-scrape
      exp_annotations:
        message: "Too many restarts for assisted-installer-events pod"
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/assisted-installer/sop#assisted-installer-events-is-down"
  # Test alert for sparse growth
  - eval_time: 80m
    alertname: Assisted Installer Events - Too many restarts - Stage
    exp_alerts:
    - exp_labels:
        service: assisted-installer
        severity: info
        container: assisted-events-scrape
      exp_annotations:
        message: "Too many restarts for assisted-installer-events pod"
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/assisted-installer/sop#assisted-installer-events-is-down"
  # Test the no alert when restarts stabilize
  - eval_time: 120m
    alertname: Assisted Installer Events - Too many restarts - Stage
    exp_alerts:

# No CPU activity test
- interval: 15m
  input_series:
  - series: container_cpu_usage_seconds_total{container="assisted-events-scrape",pod="assisted-events-scrape-85db75b79b-dfh7j"}
    values: 0 120.123 240.456 360.789 360.789 360.789 360.789 360.789 360.789 365.789 370.789 380.789 390.789 400.789

  alert_rule_test:
  # Test the no alert case
  - eval_time: 60m
    alertname: Assisted Installer Events - No CPU activity detected - Stage
    exp_alerts:
  # Test the no alert, but about to fire
  - eval_time: 105m
    alertname: Assisted Installer Events - No CPU activity detected - Stage
    exp_alerts:
  # Alert when no CPU activity
  - eval_time: 120m
    alertname: Assisted Installer Events - No CPU activity detected - Stage
    exp_alerts:
    - exp_labels:
        pod: assisted-events-scrape-85db75b79b-dfh7j
        service: assisted-installer
        severity: info
      exp_annotations:
        message: "Assisted Installer Events - No CPU activity in the last hour detected for pod assisted-events-scrape-85db75b79b-dfh7j"
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/assisted-installer/sop#assisted-installer-events-no-cpu-activity"
  # No alert as CPU activity came back
  - eval_time: 135m
    alertname: Assisted Installer Events - No CPU activity detected - Stage
    exp_alerts:
# # Events ingestion tests for .events (CCX export)
# - interval: 15m
#   input_series:
#   - series: assisted_installer_events_max_event_id{container="prometheus-postgres-exporter", endpoint="http", instance="10.131.2.123:9187", job="assisted-installer-prometheus-postgres-exporter", namespace="assisted-installer-stage", pod="assisted-installer-prometheus-postgres-exporter-5d495cf6fftm5x6", server="assisted-installer.rds.awshost.com:5432", service="assisted-installer-prometheus-postgres-exporter"}
#     values: 1+1x16 4+1x96
#   - series: elasticsearch_indices_shards_docs{cluster="ai-stage-es", container="exporter", endpoint="http", index=".events", instance="10.130.5.220:9108", job="prometheus-opensearch-exporter", namespace="assisted-installer-stage", node="0swM1yuXSkiflKGaSwWgYw", pod="prometheus-opensearch-exporter-59f7dc576f-c6nl6", primary="true", service="prometheus-opensearch-exporter", shard="0"}
#     values: 1+1x16 4+0x48 4+1x48
#   # let's make sure we don't pick up replication as events
#   - series: elasticsearch_indices_shards_docs{cluster="ai-stage-es", container="exporter", endpoint="http", index=".events", instance="10.130.5.220:9108", job="prometheus-opensearch-exporter", namespace="assisted-installer-stage", node="0swM1yuXSkiflKGaSwWgYw", pod="prometheus-opensearch-exporter-59f7dc576f-c6nl6", primary="false", service="prometheus-opensearch-exporter", shard="0"}
#     values: 1+1x16 4+0x48 4+1x48
#   alert_rule_test:
#   # first hour growth at the same rate, second hour elasticsearch stops and events keep going: alert
#   - eval_time: 13h0m
#     alertname: Assisted Installer Events - Assisted service events ingestion greatly reduced - Stage
#     exp_alerts:
#     - exp_labels:
#         service: assisted-installer
#         severity: info
#         namespace: assisted-installer-stage
#       exp_annotations:
#         message: "Assisted Installer Events - Assisted service events ingestion greatly reduced for index .events (CCX export)"
#         runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/assisted-installer/sop#assisted-installer-events-ingestion-reduced"
#   # No alert after 1h as both metrics growing at the same rate
#   - eval_time: 4h
#     alertname: Assisted Installer Events - Assisted service events ingestion greatly reduced - Stage
#     exp_alerts:
#   # No alert after 6h as elasticsearch got back writing events and it's now growing at the same rate
#   - eval_time: 24h
#     alertname: Assisted Installer Events - Assisted service events ingestion greatly reduced - Stage
#     exp_alerts:

# Test disk space available
- interval: 5m
  input_series:
  - series: elasticsearch_filesystem_data_size_bytes{es_data_node="true",namespace="assisted-installer-stage",name="nodeA"}
    values: 0 50 60 71+0x10 60+0x10
  - series: elasticsearch_filesystem_data_available_bytes{es_data_node="true",namespace="assisted-installer-stage",name="nodeA"}
    values: 100 50 40 29+0x10 40+0x10
  - series: elasticsearch_filesystem_data_size_bytes{es_data_node="true",namespace="assisted-installer-stage",name="nodeB"}
    values: 0 50 60 61+0x10 60+0x10 82+0x10
  - series: elasticsearch_filesystem_data_available_bytes{es_data_node="true",namespace="assisted-installer-stage",name="nodeB"}
    values: 100 50 40 39+0x10 40+0x10 18+0x10

  alert_rule_test:
  # nodeA goes to 71% of space occupied
  - eval_time: 60m
    alertname: Assisted Installer Opensearch - Opensearch (stage) disk is getting full
    exp_alerts:
    - exp_labels:
        service: assisted-installer
        severity: warning
        es_data_node: true
        name: nodeA
        namespace: assisted-installer-stage
      exp_annotations:
        message: "Assisted Installer Opensearch - Opensearch (stage) disk is getting full (node nodeA is 71% full) <!subteam^S01T3MZGJ9M>"
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/assisted-installer/sop#opensearch-disk-filling-up"
  # Both nodes go back to acceptable values, no alert
  - eval_time: 60m
    alertname: Assisted Installer Opensearch - Opensearch (stage) disk is above watermark
    exp_alerts:
  - eval_time: 80m
    alertname: Assisted Installer Opensearch - Opensearch (stage) disk is getting full
    exp_alerts:
  - eval_time: 80m
    alertname: Assisted Installer Opensearch - Opensearch (stage) disk is above watermark
    exp_alerts:
  # NodeB goes above watermark
  - eval_time: 150m
    alertname: Assisted Installer Opensearch - Opensearch (stage) disk is getting full
    exp_alerts:
  - eval_time: 150m
    alertname: Assisted Installer Opensearch - Opensearch (stage) disk is above watermark
    exp_alerts:
    - exp_labels:
        service: assisted-installer
        severity: warning
        es_data_node: true
        name: nodeB
        namespace: assisted-installer-stage
      exp_annotations:
        message: "Assisted Installer Opensearch - Opensearch (stage) disk is above watermark (node nodeB is 82% full) <!subteam^S01T3MZGJ9M>"
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/assisted-installer/sop#opensearch-disk-filling-up"
