---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  creationTimestamp: null
  labels:
    prometheus: app-sre
    role: alert-rules
  name: ci-ext-alertrules
spec:
  groups:
  # Check if ci.ext is present
  - name: jenkins-job-presence.rules
    rules:
    - alert: JenkinsDown
      labels:
        severity: critical
      expr: absent(up{job="jenkins_ext"} == 1)
      for: 1h
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/sop/jenkins-ci-ext.md"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.instance }}: Jenkins scrape failed. "
        link_url: "http://ci.ext.devshift.net/"
  # Alerting on health of Jenkins system
  - name: jenkins-system.rules
    rules:
    - alert: JenkinsHealthCheck
      labels:
        severity: critical
      expr: jenkins_health_check_score < 1
      for: 5m
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/sop/jenkins.md"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.instance }}: Jenkins health degraded"
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"
    - alert: JenkinsNodeOffline
      labels:
        severity: critical
      expr: jenkins_node_offline_value > 1
      for: 5m
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.instance }}: One or more Jenkins nodes are offline"
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"
    - alert: JenkinsJvmMemoryStarvation
      labels:
        severity: critical
      expr: (vm_memory_total_max{job="jenkins_ext"} - vm_memory_total_used{job="jenkins_ext"}) / vm_memory_total_max{job="jenkins_ext"} * 100.0 < 10
      for: 5m
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.instance }}: Less than 10% memory available more than 5 minutes"
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"
    - alert: JenkinsExecutorSaturation
      labels:
        severity: medium
      expr: 100 * (jenkins_executor_free_value / jenkins_executor_count_value) < 50
      for: 10m
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.instance }}: Less than 50% executors available more than 10 minutes"
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"
    - alert: JenkinsJvmMemoryStarvation
      labels:
        severity: medium
      expr: (vm_memory_total_max{job="jenkins_ext"} - vm_memory_total_used{job="jenkins_ext"}) / vm_memory_total_max{job="jenkins_ext"} * 100.0 < 25
      for: 5m
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.instance }}: Less than 25% memory available more than 5 minutes"
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"
    - alert: JenkinsJvmCPUStarvation
      labels:
        severity: medium
      expr: vm_cpu_load{job="jenkins_ext"} * 100 > 75
      for: 5m
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.instance }}: CPU Load > 75% for more than 5 minutes"
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"

  # Alerting on health of Jenkins Web
  - name: jenkins-web.rules
    rules:
    # We need this recording rule until someone works on https://github.com/jenkinsci/prometheus-plugin/issues/100
    - record: jenkins:http_responseCodes_total
      expr: sum({__name__=~"http_responseCodes_.*"}) by (instance)
    - alert: JenkinsWebForbidden
      labels:
        severity: medium
      expr: |
        sum(rate(http_responseCodes_forbidden_total{instance="ci.ext.devshift.net:80"}[5m]))
        /
        sum(rate(jenkins:http_responseCodes_total{instance="ci.ext.devshift.net:80"}[5m])) * 100 > 10
      for: 5m
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.instance }}: Jenkins server is returning 403 for {{ $value }}% of requests"
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"
    - alert: JenkinsWebNotFound
      labels:
        severity: medium
      expr: |
        sum(rate(http_responseCodes_notFound_total{instance="ci.ext.devshift.net:80"}[5m]))
        /
        sum(rate(jenkins:http_responseCodes_total{instance="ci.ext.devshift.net:80"}[5m])) * 100 > 10
      for: 5m
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.instance }}: Jenkins server is returning 404 for {{ $value }}% of requests"
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"
    - alert: JenkinsWebServerError
      labels:
        severity: critical
      expr: |
        sum(rate(http_responseCodes_serverError_total{instance="ci.ext.devshift.net:80"}[5m]))
        /
        sum(rate(jenkins:http_responseCodes_total{instance="ci.ext.devshift.net:80"}[5m])) * 100 > 5
      for: 2m
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.instance }}: Jenkins server is returning serverError for {{ $value }}% of requests"
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"
    - alert: JenkinsWebServiceUnavailable
      labels:
        severity: critical
      expr: |
        sum(rate(http_responseCodes_serviceUnavailable_total{instance="ci.ext.devshift.net:80"}[5m]))
        /
        sum(rate(jenkins:http_responseCodes_total{instance="ci.ext.devshift.net:80"}[5m])) * 100 > 5
      for: 2m
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.instance }}: Jenkins server is returning serviceUnavailable for {{ $value }}% of requests"
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"

  # Alerting for Jenkins jobs
  - name: jenkins-jobs.rules
    rules:
    # Cincinnati
    - alert: JenkinsLastBuildFailed
      expr: "default_jenkins_builds_last_build_result_ordinal{jenkins_job=~'openshift-cincinnati-gh-build-master',job='jenkins_ext'} > 0"
      labels:
        severity: medium
        service: cincinnati
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.jenkins_job }} Jenkins job latest build has failed."
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"

    # Hive
    - alert: JenkinsLastBuildFailed
      expr: "default_jenkins_builds_last_build_result_ordinal{jenkins_job=~'openshift-hive-ghs-build-master',job='jenkins_ext'} > 0"
      labels:
        severity: medium
        service: hive
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.jenkins_job }} Jenkins job latest build has failed."
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"

    # Telemeter
    - alert: JenkinsLastBuildFailed
      expr: "default_jenkins_builds_last_build_result_ordinal{jenkins_job=~'openshift-telemeter-gh-build-master',job='jenkins_ext'} > 0"
      labels:
        severity: medium
        service: telemeter
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.jenkins_job }} Jenkins job latest build has failed."
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"
    - alert: JenkinsLastBuildFailed
      expr: "default_jenkins_builds_last_build_result_ordinal{jenkins_job=~'app-sre-saas-telemeter-telemeter-saas-deploy',job='jenkins_ext'} > 0"
      labels:
        severity: medium
        service: telemeter
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.jenkins_job }} Jenkins job latest build has failed."
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"

    # App-interface
    - alert: JenkinsLastBuildFailed
      expr: "default_jenkins_builds_last_build_result_ordinal{jenkins_job=~'app-sre-qontract-validator-gh-build-master',job='jenkins_ext'} > 0"
      labels:
        severity: medium
        service: app-interface
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.jenkins_job }} Jenkins job latest build has failed."
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"
    - alert: JenkinsLastBuildFailed
      expr: "default_jenkins_builds_last_build_result_ordinal{jenkins_job=~'app-sre-qontract-server-gh-build-master',job='jenkins_ext'} > 0"
      labels:
        severity: medium
        service: app-interface
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.jenkins_job }} Jenkins job latest build has failed."
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"
    - alert: JenkinsLastBuildFailed
      expr: "default_jenkins_builds_last_build_result_ordinal{jenkins_job=~'app-sre-qontract-reconcile-gh-build-master',job='jenkins_ext'} > 0"
      labels:
        severity: medium
        service: app-interface
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.jenkins_job }} Jenkins job latest build has failed."
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"

    # Vault
    - alert: JenkinsLastBuildFailed
      expr: "default_jenkins_builds_last_build_result_ordinal{jenkins_job=~'app-sre-vault-manager-gh-build-master',job='jenkins_ext'} > 0"
      labels:
        severity: medium
        service: vault
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.jenkins_job }} Jenkins job latest build has failed."
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"
    - alert: JenkinsLastBuildFailed
      expr: "default_jenkins_builds_last_build_result_ordinal{jenkins_job=~'app-sre-fluentd-gh-build-master',job='jenkins_ext'} > 0"
      labels:
        severity: medium
        service: vault
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/"
        dashboard: "https://grafana.app-sre.devshift.net"
        message: "{{ $labels.jenkins_job }} Jenkins job latest build has failed."
        link_url: "http://{{ $labels.instance }}/job/{{ $labels.jenkins_job }}"
