---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: cincinnati-production
spec:
  groups:
  - name: cincinnati-production
    rules:
    - alert: Cincinnati Graph Builder - No targets found - production
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/cincinnati/sop/"
        dashboard: "https://grafana.app-sre.devshift.net/d/cincinnati/cincinnati?orgId=1&var-datasource=appsrep06ue2-prometheus"
        message: "No valid targets found for Cincinnati Graph builder. Either no pods are running or Prometheus was not able to scrape them"
        link_url: "https://console-openshift-console.apps.appsrep06ue2.ohlz.p1.openshiftapps.com/k8s/ns/cincinnati-production/pods"
      expr: absent(up{job="cincinnati-graph-builder", namespace="cincinnati-production"} == 1)
      for: 1m
      labels:
        service: cincinnati
        severity: critical
    - alert: Cincinnati Policy Engine - No targets found - production
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/cincinnati/sop/"
        dashboard: "https://grafana.app-sre.devshift.net/d/cincinnati/cincinnati?orgId=1&var-datasource=appsrep06ue2-prometheus"
        message: "No valid targets found for Cincinnati policy-engine. Either no pods are running or Prometheus was not able to scrape them"
        link_url: "https://console-openshift-console.apps.appsrep06ue2.ohlz.p1.openshiftapps.com/k8s/ns/cincinnati-production/pods"
      expr: absent(up{job="cincinnati-policy-engine", namespace="cincinnati-production"} == 1)
      for: 1m
      labels:
        service: cincinnati
        severity: critical
    - alert: GBUpstreamScrapesHalted
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/cincinnati/sop/"
        dashboard: "https://grafana.app-sre.devshift.net/d/cincinnati/cincinnati?orgId=1&var-datasource=appsrep06ue2-prometheus"
        message: "Cincinnati graph-builder upstream scrapes are not functioning"
        link_url: "https://console-openshift-console.apps.appsrep06ue2.ohlz.p1.openshiftapps.com/k8s/ns/cincinnati-production/pods"
      expr: rate(cincinnati_gb_graph_upstream_scrapes_total{job="cincinnati-graph-builder",namespace="cincinnati-production"}[5m]) == 0
      for: 15m
      labels:
        service: cincinnati
        severity: medium
    - alert: GBUpstreamScrapeErrors
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/cincinnati/sop/"
        dashboard: "https://grafana.app-sre.devshift.net/d/cincinnati/cincinnati?orgId=1&var-datasource=appsrep06ue2-prometheus"
        message: "High error rate for Cincinnati graph-builder scrapes"
        link_url: "https://console-openshift-console.apps.appsrep06ue2.ohlz.p1.openshiftapps.com/k8s/ns/cincinnati-production/pods"
      expr: rate(cincinnati_gb_graph_upstream_errors_total{job="cincinnati-graph-builder",namespace="cincinnati-production"}[5m]) != 0
      for: 15m
      labels:
        service: cincinnati
        severity: high
    - alert: GBRestart
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/cincinnati/sop/"
        dashboard: "https://grafana.app-sre.devshift.net/d/cincinnati/cincinnati?orgId=1&var-datasource=appsrep06ue2-prometheus"
        message: "Graph builder container has restarted"
        link_url: "https://console-openshift-console.apps.app-sre-stage-0.k3s7.p1.openshiftapps.com/k8s/ns/cincinnati-stage/pods"
      expr: |
        increase(kube_pod_container_status_restarts_total{namespace="cincinnati-production",container="cincinnati-graph-builder"}[5m]) > 1
      for: 5m
      labels:
        service: cincinnati
        severity: warning
    - alert: PEIncomingRequestsHalted
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/cincinnati/sop/"
        dashboard: "https://grafana.app-sre.devshift.net/d/cincinnati/cincinnati?orgId=1&var-datasource=appsrep06ue2-prometheus"
        message: "Cincinnati policy-engine is not receiving/processing requests"
        link_url: "https://console-openshift-console.apps.appsrep06ue2.ohlz.p1.openshiftapps.com/k8s/ns/cincinnati-production/pods"
      expr: sum without (uri_path) (rate(cincinnati_pe_graph_incoming_requests_total{job="cincinnati-policy-engine",namespace="cincinnati-production"}[5m])) == 0
      for: 5m
      labels:
        service: cincinnati
        severity: high
    - alert: PEUpstreamErrors
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/cincinnati/sop/"
        dashboard: "https://grafana.app-sre.devshift.net/d/cincinnati/cincinnati?orgId=1&var-datasource=appsrep06ue2-prometheus"
        message: "Cincinnati policy-engine is receiving an high error rate from upstream graph-builder"
        link_url: "https://console-openshift-console.apps.appsrep06ue2.ohlz.p1.openshiftapps.com/k8s/ns/cincinnati-production/pods"
      expr: rate(cincinnati_pe_http_upstream_errors_total{job="cincinnati-policy-engine",namespace="cincinnati-production"}[5m]) != 0
      for: 5m
      labels:
        service: cincinnati
        severity: medium
    - alert: PEGraphResponseErrors
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/cincinnati/sop/"
        dashboard: "https://grafana.app-sre.devshift.net/d/cincinnati/cincinnati?orgId=1&var-datasource=appsrep06ue2-prometheus"
        message: "High error rate (kind {{ $labels.kind  }}) for Cincinnati policy-engine graph endpoint"
        link_url: "https://console-openshift-console.apps.appsrep06ue2.ohlz.p1.openshiftapps.com/k8s/ns/cincinnati-production/pods"
      # NOTE(lucab): threshold accounts for baseline errors from ancient/broken/development clients.
      expr: rate(cincinnati_pe_graph_response_errors_total{job="cincinnati-policy-engine",namespace="cincinnati-production"}[5m]) > 0.015
      for: 5m
      labels:
        service: cincinnati
        severity: high
    - alert: PERestart
      annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/cincinnati/sop/"
        dashboard: "https://grafana.app-sre.devshift.net/d/cincinnati/cincinnati?orgId=1&var-datasource=appsrep06ue2-prometheus"
        message: "Policy engine container has restarted"
        link_url: "https://console-openshift-console.apps.app-sre-stage-0.k3s7.p1.openshiftapps.com/k8s/ns/cincinnati-stage/pods"
      expr: |
        increase(kube_pod_container_status_restarts_total{namespace="cincinnati-production",container="cincinnati-policy-engine"}[5m]) > 1
      for: 5m
      labels:
        service: cincinnati
        severity: warning
