---
$schema: /app-interface/prometheus-rule-test-1.yml

rule_files:
  - /observability/prometheusrules/clair-slo-availability-vulnerability-report-stage.prometheusrules.yaml

evaluation_interval: 1m

tests:
  - interval: 1m
    input_series:
      # 0m  - 30m   all good
      # 30m - 60m   10% error rate
      # 60m - 100m  20% error rate
      - series: 'haproxy_server_http_responses_total{exported_namespace="clair-stage", route="clair-matcher-stage", code="5xx"}'
        values: '0+0x30   0+10x30    310+20x40'
      - series: 'haproxy_server_http_responses_total{exported_namespace="clair-stage", route="clair-matcher-stage", code="2xx"}'
        values: '0+1x30   31+90x30   2821+80x40'
    alert_rule_test:
      - eval_time: 30m
        alertname: ClairVulnerabilityReportAPI30mto6hErrorBudgetBurn
        exp_alerts: [ ]
      - eval_time: 60m
        alertname: ClairVulnerabilityReportAPI30mto6hErrorBudgetBurn
        exp_alerts: [ ]
      - eval_time: 100m
        alertname: ClairVulnerabilityReportAPI30mto6hErrorBudgetBurn
        exp_alerts:
          - exp_labels:
              alertname: ClairVulnerabilityReportAPI30mto6hErrorBudgetBurn
              service: clair
              route: clair-matcher-stage
              namespace: clair-stage
              severity: medium
            exp_annotations:
              message: "High 6h error budget burn for Clair Vulnerability Reports in the last 6 hours (current value: 200m)"
              dashboard: "https://grafana.app-sre.devshift.net/d/I1JBFlRnz/clair-v4"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/clair/sops/high-errors-vulnerability-report.md"
  - interval: 1m
    input_series:
      # 0m  - 60m   all good
      # 60m - 90m   1% error rate
      # 90m - 220m  10% error rate
      - series: 'haproxy_server_http_responses_total{exported_namespace="clair-stage", route="clair-matcher-stage", code="5xx"}'
        values: '0+0x60   0+1x30    31+10x130'
      - series: 'haproxy_server_http_responses_total{exported_namespace="clair-stage", route="clair-matcher-stage", code="2xx"}'
        values: '0+1x60   61+99x30   3130+90x130'
    alert_rule_test:
      - eval_time: 60m
        alertname: ClairVulnerabilityReportAPI2hto1dErrorBudgetBurn
        exp_alerts: [ ]
      - eval_time: 90m
        alertname: ClairVulnerabilityReportAPI2hto1dErrorBudgetBurn
        exp_alerts: [ ]
      - eval_time: 220m
        alertname: ClairVulnerabilityReportAPI2hto1dErrorBudgetBurn
        exp_alerts:
          - exp_labels:
              alertname: ClairVulnerabilityReportAPI2hto1dErrorBudgetBurn
              service: clair
              route: clair-matcher-stage
              namespace: clair-stage
              severity: medium
            exp_annotations:
              message: "High 1d error budget burn for Clair Vulnerability Reports (current value: 100m)"
              dashboard: "https://grafana.app-sre.devshift.net/d/I1JBFlRnz/clair-v4"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/clair/sops/high-errors-vulnerability-report.md"
