---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: clair-slos-vulnerability-report-latency-production
spec:
  groups:
    - name: clair-slos-vulnerability-report-latency-production.slo.rules
      rules:
        - alert: ClairVulnerabilityReportGetAPI30mto6hLatencyP95BudgetBurn
          annotations:
            message: "High 6h request latency budget burn for Clair Vulnerability Report GETting (current value: {{ $value | humanize }})"
            dashboard: "https://grafana.app-sre.devshift.net/d/I1JBFlRnz/clair-v4"
            runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/clair/sops/increased-latency-vulnerability-report.md"
          expr: |
              latencytarget:clair_http_matcher_api_v1_vulnerability_report_request_duration:rate30m{latency="2.5"} < 0.9
              and
              latencytarget:clair_http_matcher_api_v1_vulnerability_report_request_duration:rate6h{latency="2.5"} < 0.9
          labels:
            latency: "2.5"
            quantile: "90"
            service: clair
            severity: critical-fts
        - expr: |
              sum(rate(clair_http_matcher_api_v1_vulnerability_report_request_duration_seconds_bucket{code="200",le="2.5"}[30m]))
              /
              sum(rate(clair_http_matcher_api_v1_vulnerability_report_request_duration_seconds_count{code="200"}[30m]))
          labels:
            service: clair
            latency: "2.5"
          record: latencytarget:clair_http_matcher_api_v1_vulnerability_report_request_duration:rate30m
        - expr: |
              sum(rate(clair_http_matcher_api_v1_vulnerability_report_request_duration_seconds_bucket{code="200",le="2.5"}[6h]))
              /
              sum(rate(clair_http_matcher_api_v1_vulnerability_report_request_duration_seconds_count{code="200"}[6h]))
          labels:
            service: clair
            latency: "2.5"
          record: latencytarget:clair_http_matcher_api_v1_vulnerability_report_request_duration:rate6h
