---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: clair-slos-index-report-creation-latency-production
spec:
  groups:
    - name: clair-slos-index-report-creation-latency-production.slo.rules
      rules:
        - alert: ClairIndexReportCreateAPI30mto6hLatencyP70BudgetBurn
          annotations:
            message: "High 6h request latency budget burn for Clair Index Report Creation (current value: {{ $value | humanize }})"
            dashboard: "https://grafana.app-sre.devshift.net/d/I1JBFlRnz/clair-v4"
            runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/clair/sops/increased-latency-index-report-creation.md"
          expr: |
              latencytarget:clair_http_indexerv1_request_duration:rate30m{latency="15"} < 0.70
              and
              latencytarget:clair_http_indexerv1_request_duration:rate6h{latency="15"} < 0.70
          labels:
            service: clair
            latency: "15"
            quantile: "70"
            severity: medium
        - expr: |
              sum(rate(clair_http_indexerv1_request_duration_seconds_bucket{handler="/indexer/api/v1/index_report",method="post",code="201",le="15"}[30m]))
              /
              sum(rate(clair_http_indexerv1_request_duration_seconds_count{handler="/indexer/api/v1/index_report",method="post",code="201"}[30m]))
          labels:
            service: clair
            latency: "15"
          record: latencytarget:clair_http_indexerv1_request_duration:rate30m
        - expr: |
              sum(rate(clair_http_indexerv1_request_duration_seconds_bucket{handler="/indexer/api/v1/index_report",method="post",code="201",le="15"}[6h]))
              /
              sum(rate(clair_http_indexerv1_request_duration_seconds_count{handler="/indexer/api/v1/index_report",method="post",code="201"}[6h]))
          labels:
            service: clair
            latency: "15"
          record: latencytarget:clair_http_indexerv1_request_duration:rate6h
