---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: cloudwatch-exporter
spec:
  groups:
  - name: cloudwatch-exporter.rules
    rules:
    - alert: CloudWatchDown
      labels:
        severity: critical
      expr: absent(up{job=~"cloudwatch-exporter.*"} == 1)
      for: 5m
      annotations:
        message: 'Cloudwatch exporter instances have been down for 5m+.'
        runbook: "https://gitlab.cee.redhat.com/observatorium/configuration/tree/master/docs/sop"
        dashboard: "https://grafana.app-sre.devshift.net"
    - alert: CloudWatchScrapeError
      labels:
        severity: medium
      expr: cloudwatch_exporter_scrape_error{job=~"cloudwatch-exporter.*"} != 0
      for: 5m
      annotations:
        message: 'There was an error scraping metrics from the cloudwatch exporter.'
        runbook: "https://gitlab.cee.redhat.com/observatorium/configuration/tree/master/docs/sop"
        dashboard: "https://grafana.app-sre.devshift.net"
    - alert: CloudWatchScrapeDuration
      labels:
        severity: warning
      expr: cloudwatch_exporter_scrape_duration_seconds{job=~"cloudwatch-exporter.*"} >= 15
      annotations:
        message: 'Cloudwatch exporter took more than 15 seconds to scrape AWS Cloudwatch.'
        runbook: "https://gitlab.cee.redhat.com/observatorium/configuration/tree/master/docs/sop"
        dashboard: "https://grafana.app-sre.devshift.net"
  - name: cloudwatch-exporter-s3.rules
    rules:
    - alert: SuddenIncreaseBytesUsed
      labels:
        severity: warning
      expr: (avg_over_time(aws_s3_bucket_size_bytes_average{job=~"cloudwatch-exporter.*"}[1d]) / avg_over_time(aws_s3_bucket_size_bytes_average{job=~"cloudwatch-exporter.*"}[1d] offset 1d) -1) * 100 > 20 and (aws_s3_bucket_size_bytes_average{job=~"cloudwatch-exporter.*"} - aws_s3_bucket_size_bytes_average{job=~"cloudwatch-exporter.*"} offset 1d) / 1000 / 1000 > 1000
      annotations:
        message: 'Bucket {{$labels.bucket_name}} size has grown by {{ $value }}% within the last day'
        runbook: "https://gitlab.cee.redhat.com/observatorium/configuration/tree/master/docs/sop"
        dashboard: "https://grafana.app-sre.devshift.net"
  - name: cloudwatch-exporter-rds.rules
    rules:
    - alert: HighCPUUtilization
      labels:
        severity: warning
      expr: aws_rds_cpuutilization_average{job=~"cloudwatch-exporter.*"} offset 10m > 85
      for: 15m
      annotations:
        message: 'Average CPU utilization of RDS instance {{$labels.dbinstance_identifier}} above 85% for the past 15 minutes.'
        runbook: "https://gitlab.cee.redhat.com/observatorium/configuration/tree/master/docs/sop"
        dashboard: "https://grafana.app-sre.devshift.net"
    - alert: LowFreeMemory
      labels:
        severity: warning
      expr: aws_rds_freeable_memory_sum{job=~"cloudwatch-exporter.*"} offset 10m < (200 * 1024^2)
      annotations:
        message: 'The current free(able) memory of DB instance {{ $labels.dbinstance_identifier }} is under 200 MB.'
        runbook: "https://gitlab.cee.redhat.com/observatorium/configuration/tree/master/docs/sop"
        dashboard: "https://grafana.app-sre.devshift.net"
    - alert: LowStorageSpace
      labels:
        severity: warning
      expr: aws_rds_free_storage_space_sum{job=~"cloudwatch-exporter.*"} offset 10m < (1 * 1024^3)
      for: 30m
      annotations:
        message: 'The current free storage space of DB instance {{ $labels.dbinstance_identifier }} is under 1 GB.'
        runbook: "https://gitlab.cee.redhat.com/observatorium/configuration/tree/master/docs/sop"
        dashboard: "https://grafana.app-sre.devshift.net"
    - alert: PredictOutOfStorage
      labels:
        severity: high
      expr: predict_linear(aws_rds_free_storage_space_sum[1h], 3600 * 24 * 3) < 0
      for: 1h
      annotations:
        message: 'DB instance {{ $labels.dbinstance_identifier }} storage will be full within 2 days.'
        runbook: "https://gitlab.cee.redhat.com/observatorium/configuration/tree/master/docs/sop"
        dashboard: "https://grafana.app-sre.devshift.net"
    - alert: HighAverageReadLatency
      labels:
        severity: warning
      expr: aws_rds_read_latency_average{job=~"cloudwatch-exporter.*"} offset 10m >= 1
      annotations:
        message: 'The average read latency of DB instance {{ $labels.dbinstance_identifier }} is over 1s.'
        runbook: "https://gitlab.cee.redhat.com/observatorium/configuration/tree/master/docs/sop"
        dashboard: "https://grafana.app-sre.devshift.net"
    - alert: HighAverageWriteLatency
      labels:
        severity: warning
      expr: aws_rds_write_latency_average{job=~"cloudwatch-exporter.*"} offset 10m >= 1.1
      annotations:
        message: 'The average write latency of DB instance {{ $labels.dbinstance_identifier }} is over 1.1s.'
        runbook: "https://gitlab.cee.redhat.com/observatorium/configuration/tree/master/docs/sop"
        dashboard: "https://grafana.app-sre.devshift.net"
  - name: cloudwatch-exporter-ec2.rules
    rules:
    - alert: HighCPUUtilization
      labels:
        severity: warning
      expr: aws_ec2_cpuutilization_average{job=~"cloudwatch-exporter.*"} offset 10m > 85
      for: 60m
      annotations:
        message: 'Average CPU utilization of EC2 instance {{ $labels.instance_id }} above 85% for over 1 hour.'
        runbook: "https://gitlab.cee.redhat.com/observatorium/configuration/tree/master/docs/sop"
        dashboard: "https://grafana.app-sre.devshift.net"
