---
$schema: /app-interface/prometheus-rule-test-1.yml

rule_files:
- /observability/prometheusrules/cloudwatch-exporter.prometheusrules.yaml

evaluation_interval: 1m

tests:
- interval: 1m
  input_series:
  - series: aws_rds_burst_balance_average{dbinstance_identifier="bursting"}
    values: 100+0x60 100-0.5x60 # 100 during one hour then 100 99.5 99 98.5...

  alert_rule_test:
  - eval_time: 1h
    alertname: RDSPredictOutOfBurstBalance
    exp_alerts:
  - eval_time: 2h
    alertname: RDSPredictOutOfBurstBalance
    exp_alerts:
    - exp_labels:
        dbinstance_identifier: bursting
        severity: high
        service: app-sre-observability
      exp_annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/sop/rds-burst-balance.md"
        message: "DB instance 'bursting' storage will be out of burst balance in 8 hours"
