---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: deadmanssnitch
spec:
  groups:
  - name: deadmanssnitch
    rules:
    - alert: SnitchHeartBeat
      interval: 1m
      annotations:
        message: "SnitchHeartBeat: {{ $labels.instance }} has not reported to Deadmanssnitch"
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/app-sre/sop/prometheus/prometheus-deadmanssnitch.md"
      expr: vector(1)
      labels:
        service: deadmanssnitch
        severity: deadman
