---
$schema: /app-interface/prometheus-rule-test-1.yml

rule_files:
- /observability/prometheusrules/devfile-registry-stage.prometheusrules.yaml

evaluation_interval: 1m

tests:
- interval: 1m
  input_series: 
    - series: 'index_http_request_duration_seconds_bucket{namespace="devfile-registry-stage",le="2.5"}'
      values: '0+1x5   6+1x30  601+18x30'
    - series: 'index_http_request_duration_seconds_bucket{namespace="devfile-registry-stage",le="+inf"}'
      values: '0+1x5   6+1x30   61+2x30'
    - series: 'index_http_request_duration_seconds_count{namespace="devfile-registry-stage"}'
      values: '0+1x5   6+20x30  631+20x30'
  alert_rule_test:
  - eval_time: 5m
    alertname: IndexServerHTTPLatency
    exp_alerts:
  - eval_time: 10m
    alertname: IndexServerHTTPLatency
    exp_alerts:
    - exp_labels:
        service: devfile-registry
        severity: medium
      exp_annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/devfile-registry/sop/#indexserverhttplatency"
        dashboard: "https://grafana.app-sre.devshift.net/d/7s_TsTsGz/devfile-registry-service?orgId=1"
        message: " showing response times longer than 2.5 seconds for index registry server"
        link_url: "https://console-openshift-console.apps.app-sre-stage-0.k3s7.p1.openshiftapps.com/k8s/ns/devfile-registry-stage/pods"

- interval: 1m
  input_series: 
    - series: 'registry_http_request_duration_seconds_bucket{namespace="devfile-registry-stage", le="0"}'
      values: '0+1x5   6+1x30  601+18x30'
    - series: 'registry_http_request_duration_seconds_bucket{namespace="devfile-registry-stage",le="5"}'
      values: '0+1x5   6+1x30   61+2x30'
    - series: 'registry_http_request_duration_seconds_count{namespace="devfile-registry-stage"}'
      values: '0+1x5   6+20x30  631+20x30'
  alert_rule_test:
  - eval_time: 5m
    alertname: OCIServerHTTPLatency
    exp_alerts:
  - eval_time: 10m
    alertname: OCIServerHTTPLatency
    exp_alerts:
    - exp_labels:
        service: devfile-registry
        severity: medium
      exp_annotations:
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/devfile-registry/sop/#ociserverhttplatency"
        dashboard: "https://grafana.app-sre.devshift.net/d/7s_TsTsGz/devfile-registry-service?orgId=1"
        message: " showing response times longer than 5 seconds for oci registry server"
        link_url: "https://console-openshift-console.apps.app-sre-stage-0.k3s7.p1.openshiftapps.com/k8s/ns/devfile-registry-stage/pods"

- interval: 1m
  input_series:
  # If sum(value) > (14.4*(1-0.90))=1.44 and last for 2 mins
  - series: haproxy_backend_http_responses_total:burnrate5m{route="oci-server-preview",namespace="devfile-registry-stage"}
    values: 1.45+0.0x10
  - series: haproxy_backend_http_responses_total:burnrate1h{route="oci-server-preview",namespace="devfile-registry-stage"}
    values: 1.45+0.0x10
  alert_rule_test: 
  - eval_time: 1m
    alertname: OCIServerErrorBudgetBurn5mto1h
    exp_alerts:
  - eval_time: 2m
    alertname: OCIServerErrorBudgetBurn5mto1h
    exp_alerts:
    - exp_labels:
        service: devfile-registry
        namespace: devfile-registry-stage
        route: oci-server-preview
        severity: medium
      exp_annotations:
        message: 'High error budget burn for route=oci-server-preview,namespace=devfile-registry-stage (current value: 1.45)'
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/devfile-registry/sop/#ociservererrorbudgetburn"
        dashboard: "https://grafana.app-sre.devshift.net/d/7s_TsTsGz/devfile-registry-service?orgId=1"
        link_url: "https://console-openshift-console.apps.app-sre-stage-0.k3s7.p1.openshiftapps.com/k8s/ns/devfile-registry-stage/pods"

- interval: 1m
  input_series:
  # If sum(value) > (6*(1-0.95))=0.60 and last for 15 mintues
  - series: haproxy_backend_http_responses_total:burnrate30m{route="oci-server-preview",namespace="devfile-registry-stage"}
    values: 0.61+0x15
  - series: haproxy_backend_http_responses_total:burnrate6h{route="oci-server-preview",namespace="devfile-registry-stage"}
    values: 0.61+0x15
  alert_rule_test: 
  - eval_time: 5m
    alertname: OCIServerErrorBudgetBurn30mto6h
    exp_alerts:
  - eval_time: 10m
    alertname: OCIServerErrorBudgetBurn30mto6h
    exp_alerts:
  - eval_time: 15m
    alertname: OCIServerErrorBudgetBurn30mto6h
    exp_alerts:
    - exp_labels:
        service: devfile-registry
        namespace: devfile-registry-stage
        route: oci-server-preview
        severity: medium
      exp_annotations:
        message: 'High error budget burn for route=oci-server-preview,namespace=devfile-registry-stage (current value: 610m)'
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/devfile-registry/sop/#ociservererrorbudgetburn"
        dashboard: "https://grafana.app-sre.devshift.net/d/7s_TsTsGz/devfile-registry-service?orgId=1"
        link_url: "https://console-openshift-console.apps.app-sre-stage-0.k3s7.p1.openshiftapps.com/k8s/ns/devfile-registry-stage/pods"

- interval: 1m
  input_series:
  # If sum(value) > (1*(1-0.95))=0.11 and last for 3 hours
  - series: haproxy_backend_http_responses_total:burnrate6h{route="oci-server-preview",namespace="devfile-registry-stage"}
    values: 0.12+0x200
  - series: haproxy_backend_http_responses_total:burnrate3d{route="oci-server-preview",namespace="devfile-registry-stage"}
    values: 0.12+0x200
  alert_rule_test: 
  - eval_time: 60m
    alertname: OCIServerErrorBudgetBurn6hto3d
    exp_alerts:
  - eval_time: 120m
    alertname: OCIServerErrorBudgetBurn6hto3d
    exp_alerts:
  - eval_time: 180m
    alertname: OCIServerErrorBudgetBurn6hto3d
    exp_alerts:
    - exp_labels:
        service: devfile-registry
        namespace: devfile-registry-stage
        route: oci-server-preview
        severity: medium
      exp_annotations:
        message: 'High error budget burn for route=oci-server-preview,namespace=devfile-registry-stage (current value: 120m)'
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/devfile-registry/sop/#ociservererrorbudgetburn"
        dashboard: "https://grafana.app-sre.devshift.net/d/7s_TsTsGz/devfile-registry-service?orgId=1"
        link_url: "https://console-openshift-console.apps.app-sre-stage-0.k3s7.p1.openshiftapps.com/k8s/ns/devfile-registry-stage/pods"

- interval: 1m
  input_series:
  # If sum(value) > (3*(1-0.90))=0.30 and last for 1 hour
  - series: haproxy_backend_http_responses_total:burnrate2h{route="oci-server-preview",namespace="devfile-registry-stage"}
    values: 0.31+0x60
  - series: haproxy_backend_http_responses_total:burnrate1d{route="oci-server-preview",namespace="devfile-registry-stage"}
    values: 0.31+0x60
  alert_rule_test: 
  - eval_time: 10m
    alertname: OCIServerErrorBudgetBurn2hto1d
    exp_alerts:
  - eval_time: 30m
    alertname: OCIServerErrorBudgetBurn2hto1d
    exp_alerts:
  - eval_time: 60m
    alertname: OCIServerErrorBudgetBurn2hto1d
    exp_alerts:
    - exp_labels:
        service: devfile-registry
        namespace: devfile-registry-stage
        route: oci-server-preview
        severity: medium
      exp_annotations:
        message: 'High error budget burn for route=oci-server-preview,namespace=devfile-registry-stage (current value: 310m)'
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/devfile-registry/sop/#ociservererrorbudgetburn"
        dashboard: "https://grafana.app-sre.devshift.net/d/7s_TsTsGz/devfile-registry-service?orgId=1"
        link_url: "https://console-openshift-console.apps.app-sre-stage-0.k3s7.p1.openshiftapps.com/k8s/ns/devfile-registry-stage/pods"

- interval: 1m
  input_series:
  # If sum(value) > (14.4*(1-0.90))=1.44 and last for 2 mins
  - series: haproxy_backend_http_responses_total:burnrate5m{route="preview",namespace="devfile-registry-stage"}
    values: 1.45+0.0x10
  - series: haproxy_backend_http_responses_total:burnrate1h{route="preview",namespace="devfile-registry-stage"}
    values: 1.45+0.0x10
  alert_rule_test: 
  - eval_time: 1m
    alertname: IndexServerErrorBudgetBurn5mto1h
    exp_alerts:
  - eval_time: 2m
    alertname: IndexServerErrorBudgetBurn5mto1h
    exp_alerts:
    - exp_labels:
        service: devfile-registry
        namespace: devfile-registry-stage
        route: preview
        severity: medium
      exp_annotations:
        message: 'High error budget burn for route=preview,namespace=devfile-registry-stage (current value: 1.45)'
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/devfile-registry/sop/#indexservererrorbudgetburn"
        dashboard: "https://grafana.app-sre.devshift.net/d/7s_TsTsGz/devfile-registry-service?orgId=1"
        link_url: "https://console-openshift-console.apps.app-sre-stage-0.k3s7.p1.openshiftapps.com/k8s/ns/devfile-registry-stage/pods"

- interval: 1m
  input_series:
  # If sum(value) > (6*(1-0.95))=0.60 and last for 15 mintues
  - series: haproxy_backend_http_responses_total:burnrate30m{route="preview",namespace="devfile-registry-stage"}
    values: 0.61+0x15
  - series: haproxy_backend_http_responses_total:burnrate6h{route="preview",namespace="devfile-registry-stage"}
    values: 0.61+0x15
  alert_rule_test: 
  - eval_time: 5m
    alertname: IndexServerErrorBudgetBurn30mto6h
    exp_alerts:
  - eval_time: 10m
    alertname: IndexServerErrorBudgetBurn30mto6h
    exp_alerts:
  - eval_time: 15m
    alertname: IndexServerErrorBudgetBurn30mto6h
    exp_alerts:
    - exp_labels:
        service: devfile-registry
        namespace: devfile-registry-stage
        route: preview
        severity: medium
      exp_annotations:
        message: 'High error budget burn for route=preview,namespace=devfile-registry-stage (current value: 610m)'
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/devfile-registry/sop/#indexservererrorbudgetburn"
        dashboard: "https://grafana.app-sre.devshift.net/d/7s_TsTsGz/devfile-registry-service?orgId=1"
        link_url: "https://console-openshift-console.apps.app-sre-stage-0.k3s7.p1.openshiftapps.com/k8s/ns/devfile-registry-production/pods"

- interval: 1m
  input_series:
  # If sum(value) > (1*(1-0.95))=0.11 and last for 3 hours
  - series: haproxy_backend_http_responses_total:burnrate6h{route="preview",namespace="devfile-registry-stage"}
    values: 0.12+0x200
  - series: haproxy_backend_http_responses_total:burnrate3d{route="preview",namespace="devfile-registry-stage"}
    values: 0.12+0x200
  alert_rule_test: 
  - eval_time: 60m
    alertname: IndexServerErrorBudgetBurn6hto3d
    exp_alerts:
  - eval_time: 120m
    alertname: IndexServerErrorBudgetBurn6hto3d
    exp_alerts:
  - eval_time: 180m
    alertname: IndexServerErrorBudgetBurn6hto3d
    exp_alerts:
    - exp_labels:
        service: devfile-registry
        namespace: devfile-registry-stage
        route: preview
        severity: medium
      exp_annotations:
        message: 'High error budget burn for route=preview,namespace=devfile-registry-stage (current value: 120m)'
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/devfile-registry/sop/#indexservererrorbudgetburn"
        dashboard: "https://grafana.app-sre.devshift.net/d/7s_TsTsGz/devfile-registry-service?orgId=1"
        link_url: "https://console-openshift-console.apps.app-sre-stage-0.k3s7.p1.openshiftapps.com/k8s/ns/devfile-registry-production/pods"

- interval: 1m
  input_series:
  # If sum(value) > (3*(1-0.90))=0.30 and last for 1 hour
  - series: haproxy_backend_http_responses_total:burnrate2h{route="preview",namespace="devfile-registry-stage"}
    values: 0.31+0x60
  - series: haproxy_backend_http_responses_total:burnrate1d{route="preview",namespace="devfile-registry-stage"}
    values: 0.31+0x60
  alert_rule_test: 
  - eval_time: 10m
    alertname: IndexServerErrorBudgetBurn2hto1d
    exp_alerts:
  - eval_time: 30m
    alertname: IndexServerErrorBudgetBurn2hto1d
    exp_alerts:
  - eval_time: 60m
    alertname: IndexServerErrorBudgetBurn2hto1d
    exp_alerts:
    - exp_labels:
        service: devfile-registry
        namespace: devfile-registry-stage
        route: preview
        severity: medium
      exp_annotations:
        message: 'High error budget burn for route=preview,namespace=devfile-registry-stage (current value: 310m)'
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/devfile-registry/sop/#indexservererrorbudgetburn"
        dashboard: "https://grafana.app-sre.devshift.net/d/7s_TsTsGz/devfile-registry-service?orgId=1"
        link_url: "https://console-openshift-console.apps.app-sre-stage-0.k3s7.p1.openshiftapps.com/k8s/ns/devfile-registry-production/pods"
