---
$schema: /app-interface/prometheus-rule-test-1.yml

rule_files:
  - /observability/prometheusrules/kas-fleet-manager-slos-kafka-correctness-stage.prometheusrules.yaml

evaluation_interval: 1m

tests:
  - interval: 1m
    input_series:
      # 0m  - 30m  all good
      # 30m - 60m  5% failed requests
      # 60m - 90m  10% failed requests
      - series: 'kas_fleet_manager_kafka_operations_success_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="create"}'
        values: '0+1x30   31+19x30    601+18x30'
      - series: 'kas_fleet_manager_kafka_operations_total_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="create"}'
        values: '0+1x30   31+20x30    631+20x30'
    alert_rule_test:
      - eval_time: 30m
        alertname: KasFleetManagerKafkaCreationSuccess30mto6hBudgetBurn
        exp_alerts: [ ]
      - eval_time: 60m
        alertname: KasFleetManagerKafkaCreationSuccess30mto6hBudgetBurn
        exp_alerts: [ ]
      - eval_time: 90m
        alertname: KasFleetManagerKafkaCreationSuccess30mto6hBudgetBurn
        exp_alerts:
          - exp_labels:
              alertname: KasFleetManagerKafkaCreationSuccess30mto6hBudgetBurn
              namespace: managed-services-stage
              operation: create
              service: kas-fleet-manager
              severity: info
            exp_annotations:
              dashboard: "https://grafana.stage.devshift.net/d/Tbw1EgoMz/kas-fleet-manager-slos?orgId=1"
              message: "High 6h error budget burn for Kas Fleet Manager Kafka create operations (current value: 96.55m)"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/managed-services/sop#kafka-cluster-provisioning-correctness"
  - interval: 1m
    input_series:
      # 0m    - 60m   all good
      # 60m   - 120m  2% error rate
      # 120m  - 250m  4% error rate
      - series: 'kas_fleet_manager_kafka_operations_success_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="create"}'
        values: '0+1x60   61+98x60    5941+96x130'
      - series: 'kas_fleet_manager_kafka_operations_total_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="create"}'
        values: '0+1x60   61+100x60   6061+100x130'
    alert_rule_test:
      - eval_time: 60m
        alertname: KasFleetManagerKafkaCreationSuccess2hto1dBudgetBurn
        exp_alerts: [ ]
      - eval_time: 120m
        alertname: KasFleetManagerKafkaCreationSuccess2hto1dBudgetBurn
        exp_alerts: [ ]
      - eval_time: 250m
        alertname: KasFleetManagerKafkaCreationSuccess2hto1dBudgetBurn
        exp_alerts:
          - exp_labels:
              alertname: KasFleetManagerKafkaCreationSuccess2hto1dBudgetBurn
              namespace: managed-services-stage
              operation: create
              service: kas-fleet-manager
              severity: info
            exp_annotations:
              dashboard: "https://grafana.stage.devshift.net/d/Tbw1EgoMz/kas-fleet-manager-slos?orgId=1"
              message: "High 1d error budget burn for Kas Fleet Manager Kafka create operations (current value: 40m)"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/managed-services/sop#kafka-cluster-provisioning-correctness"
  - interval: 1m
    input_series:
      # 0m    - 180m  all good
      # 180m  - 370m  2% error rate
      - series: 'kas_fleet_manager_kafka_operations_success_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="create"}'
        values: '0+1x180  181+98x190'
      - series: 'kas_fleet_manager_kafka_operations_total_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="create"}'
        values: '0+1x180  181+100x190'
    alert_rule_test:
      - eval_time: 3h
        alertname: KasFleetManagerKafkaCreationSuccess6hto3dBudgetBurn
        exp_alerts: [ ]
      - eval_time: 6h10m
        alertname: KasFleetManagerKafkaCreationSuccess6hto3dBudgetBurn
        exp_alerts:
          - exp_labels:
              alertname: KasFleetManagerKafkaCreationSuccess6hto3dBudgetBurn
              namespace: managed-services-stage
              operation: create
              service: kas-fleet-manager
              severity: info
            exp_annotations:
              dashboard: "https://grafana.stage.devshift.net/d/Tbw1EgoMz/kas-fleet-manager-slos?orgId=1"
              message: "High 3d error budget burn for Kas Fleet Manager Kafka create operations (current value: 19.82m)"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/managed-services/sop#kafka-cluster-provisioning-correctness"
  - interval: 1m
    input_series:
      # 0m  - 30m  all good
      # 30m - 60m  5% failed requests
      # 60m - 90m  10% failed requests
      - series: 'kas_fleet_manager_kafka_operations_success_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="delete"}'
        values: '0+1x30   31+19x30    601+18x30'
      - series: 'kas_fleet_manager_kafka_operations_total_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="delete"}'
        values: '0+1x30   31+20x30    631+20x30'
    alert_rule_test:
      - eval_time: 30m
        alertname: KasFleetManagerKafkaDeleteSuccess30mto6hBudgetBurn
        exp_alerts: [ ]
      - eval_time: 60m
        alertname: KasFleetManagerKafkaDeleteSuccess30mto6hBudgetBurn
        exp_alerts: [ ]
      - eval_time: 90m
        alertname: KasFleetManagerKafkaDeleteSuccess30mto6hBudgetBurn
        exp_alerts:
          - exp_labels:
              alertname: KasFleetManagerKafkaDeleteSuccess30mto6hBudgetBurn
              namespace: managed-services-stage
              operation: delete
              service: kas-fleet-manager
              severity: high
            exp_annotations:
              dashboard: "https://grafana.stage.devshift.net/d/Tbw1EgoMz/kas-fleet-manager-slos?orgId=1"
              message: "High 6h error budget burn for Kas Fleet Manager Kafka delete operations (current value: 96.55m)"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/managed-services/sop#kafka-cluster-deletion-correctness"
  - interval: 1m
    input_series:
      # 0m    - 60m   all good
      # 60m   - 120m  2% error rate
      # 120m  - 250m  4% error rate
      - series: 'kas_fleet_manager_kafka_operations_success_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="delete"}'
        values: '0+1x60   61+98x60    5941+96x130'
      - series: 'kas_fleet_manager_kafka_operations_total_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="delete"}'
        values: '0+1x60   61+100x60   6061+100x130'
    alert_rule_test:
      - eval_time: 60m
        alertname: KasFleetManagerKafkaDeleteSuccess2hto1dBudgetBurn
        exp_alerts: [ ]
      - eval_time: 120m
        alertname: KasFleetManagerKafkaDeleteSuccess2hto1dBudgetBurn
        exp_alerts: [ ]
      - eval_time: 250m
        alertname: KasFleetManagerKafkaDeleteSuccess2hto1dBudgetBurn
        exp_alerts:
          - exp_labels:
              alertname: KasFleetManagerKafkaCreationSuccess2hto1dBudgetBurn
              namespace: managed-services-stage
              operation: delete
              service: kas-fleet-manager
              severity: high
            exp_annotations:
              dashboard: "https://grafana.stage.devshift.net/d/Tbw1EgoMz/kas-fleet-manager-slos?orgId=1"
              message: "High 1d error budget burn for Kas Fleet Manager Kafka delete operations (current value: 40m)"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/managed-services/sop#kafka-cluster-deletion-correctness"
  - interval: 1m
    input_series:
      # 0m    - 180m  all good
      # 180m  - 370m  2% error rate
      - series: 'kas_fleet_manager_kafka_operations_success_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="delete"}'
        values: '0+1x180  181+98x190'
      - series: 'kas_fleet_manager_kafka_operations_total_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="delete"}'
        values: '0+1x180  181+100x190'
    alert_rule_test:
      - eval_time: 3h
        alertname: KasFleetManagerKafkaDeleteSuccess6hto3dBudgetBurn
        exp_alerts: [ ]
      - eval_time: 6h10m
        alertname: KasFleetManagerKafkaDeleteSuccess6hto3dBudgetBurn
        exp_alerts:
          - exp_labels:
              alertname: KasFleetManagerKafkaDeleteSuccess6hto3dBudgetBurn
              namespace: managed-services-stage
              operation: delete
              service: kas-fleet-manager
              severity: high
            exp_annotations:
              dashboard: "https://grafana.stage.devshift.net/d/Tbw1EgoMz/kas-fleet-manager-slos?orgId=1"
              message: "High 3d error budget burn for Kas Fleet Manager Kafka delete operations (current value: 19.82m)"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/managed-services/sop#kafka-cluster-deletion-correctness"
