---
$schema: /app-interface/prometheus-rule-test-1.yml

rule_files:
  - /observability/prometheusrules/kas-fleet-manager-cluster-correctness-stage.prometheusrules.yaml

evaluation_interval: 1m

tests:
  - interval: 1m
    input_series:
      # 0m - 30m    all good
      # 0m - 70m    5% error rate
      # 70m - 120m  10% error rate
      - series: 'kas_fleet_manager_cluster_operations_success_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="create"}'
        values: '0+1x30   31+19x40  791+9x50'
      - series: 'kas_fleet_manager_cluster_operations_total_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="create"}'
        values: '0+1x30   31+20x40  831+10x50'
    alert_rule_test:
      - eval_time: 30m
        alertname: KasFleetManagerOSDClusterCreationSuccess30mto6hBudgetBurn
        exp_alerts: [ ]
      - eval_time: 70m
        alertname: KasFleetManagerOSDClusterCreationSuccess30mto6hBudgetBurn
        exp_alerts: [ ]
      - eval_time: 120m
        alertname: KasFleetManagerOSDClusterCreationSuccess30mto6hBudgetBurn
        exp_alerts:
          - exp_labels:
              alertname: KasFleetManagerOSDClusterCreationSuccess30mto6hBudgetBurn
              namespace: managed-services-stage
              operation: create
              service: kas-fleet-manager
              severity: info
            exp_annotations:
              dashboard: "https://grafana.stage.devshift.net/d/Tbw1EgoMz/kas-fleet-manager-slos?orgId=1"
              message: "High 6h error budget burn for Kas Fleet Manager OSD cluster create operations (current value: 100m)"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/managed-services/sop#osd-cluster-provisioning-correctness"
  - interval: 1m
    input_series:
      # 0m    - 60m   all good
      # 60m   - 190m  1% error rate
      # 190m  - 350m  6% error rate
      - series: 'kas_fleet_manager_cluster_operations_success_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="create"}'
        values: '0+1x60   61+99x130   12931+94x160'
      - series: 'kas_fleet_manager_cluster_operations_total_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="create"}'
        values: '0+1x60   61+100x130  13061+100x160'
    alert_rule_test:
      - eval_time: 1h
        alertname: KasFleetManagerOSDClusterCreationSuccess2hto1dBudgetBurn
        exp_alerts: [ ]
      - eval_time: 190m
        alertname: KasFleetManagerOSDClusterCreationSuccess2hto1dBudgetBurn
        exp_alerts: [ ]
      - eval_time: 350m
        alertname: KasFleetManagerOSDClusterCreationSuccess2hto1dBudgetBurn
        exp_alerts:
          - exp_labels:
              alertname: KasFleetManagerOSDClusterCreationSuccess2hto1dBudgetBurn
              namespace: managed-services-stage
              operation: create
              service: kas-fleet-manager
              severity: info
            exp_annotations:
              dashboard: "https://grafana.stage.devshift.net/d/Tbw1EgoMz/kas-fleet-manager-slos?orgId=1"
              message: "High 1d error budget burn for Kas Fleet Manager OSD cluster create operations (current value: 60m)"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/managed-services/sop#osd-cluster-provisioning-correctness"
  - interval: 1m
    input_series:
      # 0m    - 120m: all good
      # 120m  - 240m: 1% error rate
      # 240   - 480m: 3% error rate
      - series: 'kas_fleet_manager_cluster_operations_success_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="create"}'
        values: '0+1x120  121+99x120    12001+97x240'
      - series: 'kas_fleet_manager_cluster_operations_total_count{job="kas-fleet-manager-metrics",namespace="managed-services-stage",operation="create"}'
        values: '0+1x120  121+100x120   12121+100x240'
    alert_rule_test:
      - eval_time: 2h
        alertname: KasFleetManagerOSDClusterCreationSuccess6hto3dBudgetBurn
        exp_alerts: [ ]
      - eval_time: 4h
        alertname: KasFleetManagerOSDClusterCreationSuccess6hto3dBudgetBurn
        exp_alerts: [ ]
      - eval_time: 8h
        alertname: KasFleetManagerOSDClusterCreationSuccess6hto3dBudgetBurn
        exp_alerts:
          - exp_labels:
              alertname: KasFleetManagerOSDClusterCreationSuccess6hto3dBudgetBurn
              namespace: managed-services-stage
              operation: create
              service: kas-fleet-manager
              severity: info
            exp_annotations:
              dashboard: "https://grafana.stage.devshift.net/d/Tbw1EgoMz/kas-fleet-manager-slos?orgId=1"
              message: "High 3d error budget burn for Kas Fleet Manager OSD cluster create operations (current value: 23.28m)"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/managed-services/sop#osd-cluster-provisioning-correctness"
