---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: kas-fleet-manager-cluster-capacity-production
spec:
  groups:
    - name: kas-fleet-manager-cluster-capacity-production.rules
      rules:
        - alert: KasFleetManagerOSDClusterCapacity
          annotations:
            message: "Cluster with id {{ $labels.cluster_id }} in region {{ $labels.region }} and cloud provider {{ $labels.cloud_provider }} at or below 10% available capacity"
            dashboard: "https://grafana.app-sre.devshift.net/d/8d3293310c82b0ac46d4b43117374dfdb59369c6/mk-usage?orgId=1"
            runbook: "https://github.com/bf2fc6cc711aee1a0c2a/kas-sre-sops/blob/main/sops/alerts/cluster_capacity.asciidoc"
          expr: |
            (sum by (cluster_id, region, cloud_provider) (kas_fleet_manager_cluster_status_capacity_available{instance_type="standard", namespace="managed-services-production"}) / 
            sum by (cluster_id, region, cloud_provider) (kas_fleet_manager_cluster_status_capacity_max{instance_type="standard", namespace="managed-services-production"})) < 0.1
          for: 5m
          labels:
            team: cssre
            service: kas-fleet-manager
            severity: critical
