---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: mas-sso-slo-availability-production
spec:
  groups:
      - name: mas-sso-slo-availability-production
        rules:
          - alert: MasSSOAvailability5mto1hErrorBudgetBurn
            annotations:
              message: 'High 5m and 1h error budget burn for MAS SSO (current value: {{ $value | printf "%.2f" }})'
              dashboard: "https://grafana.app-sre.devshift.net/d/nzxiqJQMk/mas-sso-monitoring?orgId=1"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/mas-sso/sop/mas-sso-availability/mas-sso-availability.md"
            expr: |
              sum(haproxy_backend_http_responses_total:burnrate5m{route="keycloak",exported_namespace="mas-sso-production"}) > (14.40 * (1-0.99000)) #0.144
              and
              sum(haproxy_backend_http_responses_total:burnrate1h{route="keycloak",exported_namespace="mas-sso-production"}) > (14.40 * (1-0.99000))
            for: 2m
            labels:
              service: mas-sso
              route: keycloak
              exported_namespace: mas-sso-production
              severity: critical
          - alert: MasSSOAvailability30mto6hErrorBudgetBurn
            annotations:
              message: 'High 30m and 6h error budget burn for MAS SSO (current value: {{ $value | printf "%.2f" }})'
              dashboard: "https://grafana.app-sre.devshift.net//d/nzxiqJQMk/mas-sso-monitoring?orgId=1"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/mas-sso/sop/mas-sso-availability/mas-sso-availability.md"
            expr: |
              sum(haproxy_backend_http_responses_total:burnrate30m{route="keycloak",exported_namespace="mas-sso-production"}) > (6.00 * (1-0.99000))#0.06
              and
              sum(haproxy_backend_http_responses_total:burnrate6h{route="keycloak",exported_namespace="mas-sso-production"}) > (6.00 * (1-0.99000))
            for: 15m
            labels:
              service: mas-sso
              route: keycloak
              exported_namespace: mas-sso-production
              severity: critical
          - alert: MasSSOAvailability2hto1dErrorBudgetBurn
            annotations:
              message: 'High 2h and 1d error budget burn for MAS SSO (current value: {{ $value | printf "%.2f" }})'
              dashboard: "https://grafana.app-sre.devshift.net/d/nzxiqJQMk/mas-sso-monitoring?orgId=1"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/mas-sso/sop/mas-sso-availability/mas-sso-availability.md"
            expr: |
              sum(haproxy_backend_http_responses_total:burnrate2h{route="keycloak",exported_namespace="mas-sso-production"}) > (3.00 * (1-0.99000)) #0.03
              and
              sum(haproxy_backend_http_responses_total:burnrate1d{route="keycloak",exported_namespace="mas-sso-production"}) > (3.00 * (1-0.99000))
            for: 1h
            labels:
              service: mas-sso
              route: keycloak
              exported_namespace: mas-sso-production
              severity: high
          - alert: MasSSOAvailability6hto3dErrorBudgetBurn
            annotations:
              message: 'High 6h and 3d error budget burn for MAS SSO (current value: {{ $value | printf "%.2f" }})'
              dashboard: "https://grafana.app-sre.devshift.net/d/nzxiqJQMk/mas-sso-monitoring?orgId=1"
              runbook: "https://gitlab.cee.redhat.com/service/app-interface/tree/master/docs/mas-sso/sop/mas-sso-availability/mas-sso-availability.md"
            expr: |
              sum(haproxy_backend_http_responses_total:burnrate6h{route="keycloak",exported_namespace="mas-sso-production"}) > (1.00 * (1-0.99000)) #0.01
              and
              sum(haproxy_backend_http_responses_total:burnrate3d{route="keycloak",exported_namespace="mas-sso-production"}) > (1.00 * (1-0.99000))
            for: 3h
            labels:
              service: mas-sso
              route: keycloak
              exported_namespace: mas-sso-production
              severity: warning
          - expr: |
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production",code="5xx"}[1d]))
              /
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production"}[1d]))
            labels:
              service: mas-sso
              route: keycloak
              exported_namespace: mas-sso-production
            record: haproxy_backend_http_responses_total:burnrate1d
          - expr: |
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production",code="5xx"}[1h]))
              /
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production"}[1h]))
            labels:
              service: mas-sso
              route: keycloak
              exported_namespace: mas-sso-production
            record: haproxy_backend_http_responses_total:burnrate1h
          - expr: |
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production",code="5xx"}[2h]))
              /
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production"}[2h]))
            labels:
              service: mas-sso
              route: keycloak
              exported_namespace: mas-sso-production
            record: haproxy_backend_http_responses_total:burnrate2h
          - expr: |
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production",code="5xx"}[30m]))
              /
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production"}[30m]))
            labels:
              service: mas-sso
              route: keycloak
              exported_namespace: mas-sso-production
            record: haproxy_backend_http_responses_total:burnrate30m
          - expr: |
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production",code="5xx"}[3d]))
              /
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production"}[3d]))
            labels:
              service: mas-sso
              route: keycloak
              exported_namespace: mas-sso-production
            record: haproxy_backend_http_responses_total:burnrate3d
          - expr: |
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production",code="5xx"}[5m]))
              /
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production"}[5m]))
            labels:
              service: mas-sso
              route: keycloak
              exported_namespace: mas-sso-production
            record: haproxy_backend_http_responses_total:burnrate5m
          - expr: |
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production",code="5xx"}[6h]))
              /
              sum(rate(haproxy_backend_http_responses_total{route="keycloak",exported_namespace="mas-sso-production"}[6h]))
            labels:
              service: mas-sso
              route: keycloak
              exported_namespace: mas-sso-production
            record: haproxy_backend_http_responses_total:burnrate6h
