---
$schema: /app-interface/prometheus-rule-test-1.yml

rule_files:
- /insights-stage/shared/overcommitted-nodes.prometheusrules.yaml

evaluation_interval: 1m

tests:

# PodMemoryHighRatio
- interval: 1m
  input_series:
    - series: 'kube_pod_container_resource_limits{resource="memory", unit="byte", namespace="ns-1", pod="pod-1"}'
      values: '1000+0x10'
    - series: 'kube_pod_status_phase{phase="Running", namespace="ns-1", pod="pod-1"}'
      values: '1+0x5 0+0x5'
    - series: 'kube_pod_container_resource_requests{resource="memory", unit="byte", namespace="ns-1", pod="pod-1"}'
      values: '250+0x10'
  promql_expr_test:
    - expr: node_overcommitted:pod_memory:ratio
      eval_time: 1m
      exp_samples:
        - labels: 'node_overcommitted:pod_memory:ratio{namespace="ns-1", pod="pod-1"}'
          value: 4
    - expr: node_overcommitted:pod_memory:ratio
      eval_time: 6m
      exp_samples:
        - labels: 'node_overcommitted:pod_memory:ratio{namespace="ns-1", pod="pod-1"}'
          value: 0

# NodeOverCommittedMemory
- interval: 1m
  input_series:
    - series: 'kube_pod_container_resource_limits{resource="memory", unit="byte", namespace="ns-1", pod="pod-1", node="node-1"}'
      values: '500+0x10'
    - series: 'kube_pod_status_phase{phase="Running", namespace="ns-1", pod="pod-1", node="node-1"}'
      values: '1+0x10'
    - series: 'kube_pod_container_resource_limits{resource="memory", unit="byte", namespace="ns-1", pod="pod-2", node="node-1"}'
      values: '0+0x5 500+0x5'
    - series: 'kube_pod_status_phase{phase="Running", namespace="ns-1", pod="pod-2", node="node-1"}'
      values: '0+0x5 1+0x5'
    - series: 'kube_node_status_allocatable{resource="memory", unit="byte", node="node-1"}'
      values: '500+0x10'
  promql_expr_test:
    - expr: node_overcommitted:memory_allocated:ratio
      eval_time: 1m
      exp_samples:
        - labels: 'node_overcommitted:memory_allocated:ratio{node="node-1"}'
          value: 1
    - expr: node_overcommitted:memory_allocated:ratio
      eval_time: 6m
      exp_samples:
        - labels: 'node_overcommitted:memory_allocated:ratio{node="node-1"}'
          value: 2
  alert_rule_test:
    - alertname: NodeOvercommittedMemory
      eval_time: 7m
    - alertname: NodeOvercommittedMemory
      eval_time: 8m
      exp_alerts:
        - exp_labels:
            severity: medium
            service: insights
            env: stage
            app_team: platform
            node: node-1
          exp_annotations:
            dashboard: "https://grafana.stage.devshift.net/d/k8s-compute-resources-node-pods/kubernetes-compute-resources-node-pods?orgId=1&refresh=10s&var-datasource=crcs02ue1-cluster-prometheus&var-cluster=&from=now-1h&to=now&var-node=node-1"
            link_url: "https://console-openshift-console.apps.crcs02ue1.urby.p1.openshiftapps.com/k8s/cluster/nodes/node-1"
            message: "Node node-1 is committed at 200.00%"
            runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/console.redhat.com/node-memory-overcommit.rst"
