---
rules:
  braces: disable
  comments: disable
  commas: disable
  colons: disable
  document-start: disable
  comments-indentation: disable
  line-length: disable
  key-duplicates: enable

  indentation:
    indent-sequences: whatever
    spaces: 2
locale: en_US.UTF-8
