---
$schema: /app-interface/prometheus-rule-test-1.yml

rule_files:
- /image-builder/stage/composer/image-builder-composer-prometheusrules.yml

evaluation_interval: 28d

tests:
    # Compose request tests
    - interval: 28d
      input_series:
        - series: image_builder_composer_request_count{code="500", path="/api/image-builder-composer/v2/compose", method="POST", subsystem="composer"}
          values: '8+8x5'
        - series: image_builder_composer_request_count{code="200", path="/api/image-builder-composer/v2/compose", method="POST", subsystem="composer"}
          values: '2+2x5'
      promql_expr_test:
        - expr: "image_builder_composer:compose_request:error_rate28d"
          eval_time: 28d
          exp_samples:
              - labels: 'image_builder_composer:compose_request:error_rate28d{env="stage"}'
                value: 0.8
        - expr: "image_builder_composer:compose_request:budget_consumed28d"
          eval_time: 28d
          exp_samples:
              - labels: 'image_builder_composer:compose_request:budget_consumed28d{env="stage"}'
                value: 15.999999999999988
        - expr: "image_builder_composer:compose_request:budget_remaining28d"
          eval_time: 28d
          exp_samples:
              - labels: 'image_builder_composer:compose_request:budget_remaining28d{env="stage"}'
                value: -504

    # latency tests
    - interval: 28d
      input_series:
        - series: image_builder_composer_http_duration_seconds_bucket{le="0.2"}
          values: 0+2x5
        - series: image_builder_composer_http_duration_seconds_count
          values: 5+10x5
      promql_expr_test:
        - expr: "image_builder_composer:request_latency:error_rate28d"
          eval_time: 28d
          exp_samples:
              - labels: 'image_builder_composer:request_latency:error_rate28d{env="stage"}'
                value: 0.8
        - expr: "image_builder_composer:request_latency:budget_consumed28d"
          eval_time: 28d
          exp_samples:
              - labels: 'image_builder_composer:request_latency:budget_consumed28d{env="stage"}'
                value: 15.999999999999988
        - expr: "image_builder_composer:request_latency:budget_remaining28d"
          eval_time: 28d
          exp_samples:
              - labels: 'image_builder_composer:request_latency:budget_remaining28d{env="stage"}'
                value: -504
