apiVersion: v1
kind: Secret
metadata:
  name: {{{ resource.namespace.name }}}
  namespace: {{{ resource.namespace.name }}}
stringData:
  kubeconfig: |
    apiVersion: v1
    kind: Config
    clusters:
    - name: default-cluster
      cluster:
        certificate-authority-data:
        server: {{{ kcp_url }}}
    contexts:
    - name: default-context
      context:
        cluster: default-cluster
        namespace: default
        user: default-user
    current-context: default-context
    users:
    - name: default-user
      user:
        token: {{{ vault('{{team}}/kcp/workload/{{resource.namespace.cluster.name}}/{{resource.namespace.name}}/kcp-syncer-config', 'token', 2) }}}

