apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{{ resource.namespace.name }}}
  namespace: {{{ resource.namespace.name }}}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{{ resource.namespace.name }}}
  template:
    metadata:
      labels:
        app: {{{ resource.namespace.name }}}
    spec:
      containers:
      - name: kcp-syncer
        command:
        - /ko-app/syncer
        args:
        - --from-kubeconfig=/kcp/kubeconfig
        - --sync-target-name={{{ resource.namespace.cluster.name }}}
        - --sync-target-uid={{{ uuid }}}
        - --from-cluster={{{ workspace }}}
        - --resources=configmaps
        - --resources=deployments.apps
        - --resources=secrets
        - --resources=serviceaccounts
        - --qps=30
        - --burst=20
        image: {{{ image }}}
        imagePullPolicy: IfNotPresent
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
        - name: kcp-config
          mountPath: /kcp/
          readOnly: true
      serviceAccountName: {{{ resource.namespace.name }}}
      volumes:
        - name: kcp-config
          secret:
            secretName: {{{ resource.namespace.name }}}
            optional: false

