apiVersion: v1
kind: Secret
metadata:
  name: {{{ resource.namespace.name }}}-token
  namespace: {{{ resource.namespace.name }}}
  annotations:
    kubernetes.io/service-account.name: {{{ resource.namespace.name }}}
type: kubernetes.io/service-account-token

