#cloud-config

write_files:
  - path: /tmp/cloud_init_vars
    content: |
      COMPOSER_HOST={{{ composer_host_aoc }}}
      COMPOSER_PORT=443
      OFFLINE_TOKEN_ARN={{{ vault('app-sre/integrations-output/terraform-resources/app-sre-prod-04/workers-production/offline-token', 'arn') }}}
      OFFLINE_TOKEN_VID={{{ vault('app-sre/integrations-output/terraform-resources/app-sre-prod-04/workers-production/offline-token', 'version_id') }}}
      SUBSCRIPTION_MANAGER_COMMAND_ARN={{{ vault('app-sre/integrations-output/terraform-resources/app-sre-prod-04/workers-production/subscription-manager-command', 'arn') }}}
      SUBSCRIPTION_MANAGER_COMMAND_VID={{{ vault('app-sre/integrations-output/terraform-resources/app-sre-prod-04/workers-production/subscription-manager-command', 'version_id') }}}
      GCP_SERVICE_ACCOUNT_IMAGE_BUILDER_ARN={{{ vault('app-sre/integrations-output/terraform-resources/app-sre-prod-04/workers-production/gcp-service-account', 'arn') }}}
      GCP_SERVICE_ACCOUNT_IMAGE_BUILDER_VID={{{ vault('app-sre/integrations-output/terraform-resources/app-sre-prod-04/workers-production/gcp-service-account', 'version_id') }}}
      AZURE_ACCOUNT_IMAGE_BUILDER_ARN={{{ vault('app-sre/integrations-output/terraform-resources/app-sre-prod-04/workers-production/azure-service-account', 'arn') }}}
      AZURE_ACCOUNT_IMAGE_BUILDER_VID={{{ vault('app-sre/integrations-output/terraform-resources/app-sre-prod-04/workers-production/azure-service-account', 'version_id') }}}
      SYSTEM_HOSTNAME_PREFIX=worker-aoc-{{{ workspace_name }}}
      SECRETS_MANAGER_ENDPOINT_URL=https://secretsmanager.{{{ aws_region }}}.amazonaws.com
      CLOUDWATCH_LOGS_ENDPOINT_URL=https://logs.{{{ aws_region }}}.amazonaws.com
      CLOUDWATCH_LOG_GROUP=workers-aoc-{{{ workspace_name }}}
      WORKER_CONFIG_AWS_BUCKET={{{ worker_config_aws_bucket }}}
