---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: argocd-alerting-rules
spec:
  groups:
  - name: argocd-alerts
    rules:
    - alert: DegradedArgocdApp
      expr: max_over_time(argocd_app_info{health_status="Degraded"}[5m]) == 1
      for: 5m
      labels:
        severity: medium
        team: stonesoup
        env: {{{ env }}}
      annotations:
        message: |
          Environment: {{{ env }}}
          Application: {{ $labels.name }}
          Cluster: {{ $labels.dest_server }}
          Health status Degraded.
