---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: aws-resource-exporter-templated
spec:
  groups:
  - name: aws-resource-exporter-templated.rules
    rules:
    {{%- for instance in aws_resources_exporter_instances %}}
    - alert: AWSResourcesExporterTargetDown
      labels:
        service: app-sre-observability
        severity: critical
      expr: absent(up{job="{{{ instance }}}"}==1)
      for: 5m
      annotations:
        dashboard: https://grafana.app-sre.devshift.net
        html_url: https://gitlab.cee.redhat.com/service/app-interface/blob/master/resources/observability/cloudwatch-exporter/prometheusrules/cloudwatch-exporter.prometheusrules.yaml
        message: AWS Resources exporter {{{ instance }}} has been down for 5m+.
        runbook: https://github.com/rhobs/configuration/tree/main/docs/sop
    {{%- endfor %}}
