{% set account = query('/queries/aws-account-supported-deployment-regions.graphql', name=account_name)[0] %}
{% set default_region = account.resourcesDefaultRegion %}
{% if override_supported_regions is defined %}
{% set supported_regions = override_supported_regions %}
{% else %}
{% set supported_regions = account.supportedDeploymentRegions %}
{% endif %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    qontract.recycle: "true"
  labels:
    app: aws-resource-exporter
  name: {{ name }}
data:
  aws-resource-exporter-config.yaml: |
    rds:
      enabled: {{ rds | lower }}
      regions: {{ supported_regions if rds else [] }}
      timeout: 30s
    vpc:
      enabled: {{ vpc | lower }}
      regions: {{ supported_regions if vpc else [] }}
      timeout: 30s
    route53:
      enabled: {{ route53 | lower }}
      region: {{ default_region }}
      timeout: {{ route53_timeout | default('60s') }}
      interval: {{ route53_interval | default('60s') }}
    ec2:
      enabled: {{ ec2 | lower }}
      regions: {{ supported_regions if vpc else [] }}
      timeout: 30s
