apiVersion: v1
kind: Secret
metadata:
  name: {{{ name }}}
  labels:
    version: {{{ version_label }}}
  {{%- if recycle %}}
  annotations:
    qontract.ignore_reconcile_time: "true"
  {{%- endif %}}
data:
  db.host: {{% b64encode %}} {{{ vault('app-sre/integrations-output/terraform-resources/quayp05ue1/quay/quayio-production-rds', 'db.host') }}} {{%- endb64encode %}}
  db.user: {{% b64encode %}} {{{ vault('app-interface/quayio-prod-us-east-1/quay/quay-additional-config', 'db.user') }}} {{%- endb64encode %}}
  db.password: {{% b64encode %}}{{{ vault('app-interface/quayio-prod-us-east-1/quay/quay-additional-config', 'db.password') }}} {{%- endb64encode %}}
  db.name: {{% b64encode %}} {{{ vault('app-interface/quayio-prod-us-east-1/quay/quay-additional-config', 'db.name') }}} {{%- endb64encode %}}
