apiVersion: v1
kind: Secret
metadata:
  name: quay-db-config-secret
  annotations:
    qontract.ignore_reconcile_time: "true"
stringData:
  {{%- if standby %}}
  db.host: {{{ vault('app-sre/integrations-output/terraform-resources/quayp04ue2/quay/quayio-production-57-py3-replica-rds', 'db.host') }}}
  db.port: "{{{ vault('app-sre/integrations-output/terraform-resources/quayp04ue2/quay/quayio-production-57-py3-replica-rds', 'db.port') }}}"
  {{%- else %}}
  db.host: {{{ vault('app-sre/integrations-output/terraform-resources/quayp05ue1/quay/quayio-production-py3-rds', 'db.host') }}}
  db.port: "{{{ vault('app-sre/integrations-output/terraform-resources/quayp05ue1/quay/quayio-production-py3-rds', 'db.port') }}}"
  {{%- endif %}}
  db.user: {{{ vault('app-interface/quayio-prod-us-east-1/quay/quay-additional-config', 'db.user', '{{ additional_config_vault_secret_version }}') }}}
  db.password: {{{ vault('app-interface/quayio-prod-us-east-1/quay/quay-additional-config', 'db.password', '{{ additional_config_vault_secret_version }}') }}}
  db.name: {{{ vault('app-interface/quayio-prod-us-east-1/quay/quay-additional-config', 'db.name', '{{ additional_config_vault_secret_version }}') }}}
