apiVersion: v1
kind: Secret
metadata:
  name: stone-stg-m01
  labels:
    appstudio.redhat.com/member-cluster: 'true'
    argocd.argoproj.io/secret-type: cluster
stringData:
  config: {{ vault('stonesoup/staging/platform/stone-stg-m01', 'config', 0) }}
  name: {{ vault('stonesoup/staging/platform/stone-stg-m01', 'name', 0) }}
  server: {{ vault('stonesoup/staging/platform/stone-stg-m01', 'server', 0) }}
