apiVersion: v1
kind: Secret
metadata:
  name: stone-stg-host
  labels:
    appstudio.redhat.com/host-cluster: 'true'
    argocd.argoproj.io/secret-type: cluster
stringData:
  config: {{ vault('stonesoup/staging/platform/stone-stg-host', 'config', 0) }}
  name: {{ vault('stonesoup/staging/platform/stone-stg-host', 'name', 0) }}
  server: {{ vault('stonesoup/staging/platform/stone-stg-host', 'server', 0) }}
