---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: receptor-controller
  labels:
    prometheus: app-sre
    role: alert-rules
spec:
  groups:
  - name: receptor-controller
    rules:
    - alert: App-insights-receptor-controller-gateway-In-receptor-prod-Downtime-Quota-Reached
      expr: avg(avg_over_time(up{service="receptor-gateway-internal", namespace="receptor-prod"}[24h])) <= 0.98
      for: 5m
      labels:
        severity: critical
        service: insights
        env: prod
        app_team: data-pipeline
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/FRmd1NeWk1/receptor-controller?orgId=1"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/receptor-prod/deployments/receptor-gateway"
        message: "Receptor-Controller Gateway Alert. Receptor-Controller Gateway has exceeded its 2% downtime quota for the past 24 hours."
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/receptor/App-insights-receptor-controller-gateway-In-receptor-prod-Downtime-Quota-Reached.rst"


    - alert: App-insights-receptor-controller-switch-In-receptor-prod-Downtime-Quota-Reached
      expr: avg(avg_over_time(up{service="receptor-controller", namespace="receptor-prod"}[24h])) <= 0.98
      for: 5m
      labels:
        severity: critical
        service: insights
        env: prod
        app_team: data-pipeline
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/FRmd1NeWk1/receptor-controller?orgId=1"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/receptor-prod/deployments/receptor-switch"
        message: "Receptor-Controller Switch Alert. Receptor-Controller Switch has exceeded its 2% downtime quota for the past 24 hours."
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/receptor/App-insights-receptor-controller-switch-In-receptor-prod-Downtime-Quota-Reached.rst"


    - alert: App-insights-receptor-controller-gateway-In-receptor-prod-5XX-WebSocket-Quota-Reached
      expr: sum(api_3scale_gateway_api_status{exported_service="receptor-controller", status!="5xx"}) / sum(api_3scale_gateway_api_status{exported_service="receptor-controller"}) <= 0.95
      for: 5m
      labels:
        severity: critical
        service: insights
        env: prod
        app_team: data-pipeline
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/FRmd1NeWk1/receptor-controller?orgId=1"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/receptor-prod/deployments/receptor-gateway"
        message: "Receptor-Controller Gateway Alert.  Receptor-Controller Gateway has exceeded 5% 5XX WebSocket response quota."
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/receptor/App-insights-receptor-controller-gateway-In-receptor-prod-5XX-WebSocket-Quota-Reached.rst"


    - alert: App-insights-receptor-controller-In-receptor-prod-5XX-API-Quota-Reached
      expr: sum(increase(receptor_contoller_http_status_code_counter{service="receptor-controller", status_code!~"5.*"}[24h])) / sum(increase(receptor_contoller_http_status_code_counter{service="receptor-controller"}[24h])) <= 0.95
      for: 5m
      labels:
        severity: critical
        service: insights
        env: prod
        app_team: data-pipeline
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/FRmd1NeWk1/receptor-controller?orgId=1"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/receptor-prod/deployments/receptor-switch"
        message: "Receptor-Controller Switch Alert.  Receptor-Controller Switch has exceeded 5% 5XX API response quota."
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/receptor/App-insights-receptor-controller-In-receptor-prod-5XX-API-Quota-Reached.rst"


    - alert: App-insights-receptor-controller-gateway-In-receptor-prod-Response-Delivery-Error-Quota-Reached
      expr: sum(increase(receptor_controller_kafka_response_writer_success_count[24h])) / sum(increase(receptor_controller_payload_message_sizes_count[24h])) <= 0.95
      for: 5m
      labels:
        severity: warning
        service: insights
        env: prod
        app_team: data-pipeline
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/FRmd1NeWk1/receptor-controller?orgId=1"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/receptor-prod/deployments/receptor-gateway"
        message: "Receptor-Controller Gateway Alert. Receptor-Controller Gateway has exceeded 5% failure quota for delivering responses to Kafka in the last 24 hours."
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/receptor/App-insights-receptor-controller-gateway-In-receptor-prod-Response-Delivery-Error-Quota-Reached.rst"


    - alert: App-insights-receptor-controller-gateway-In-receptor-prod-Absent
      expr: up{service="receptor-gateway-internal", namespace="receptor-prod"} == 0
      for: 2m
      labels:
        severity: critical
        service: insights
        env: prod
        app_team: data-pipeline
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/FRmd1NeWk1/receptor-controller?orgId=1"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/receptor-prod/deployments/receptor-gateway"
        message: "Receptor-Controller Alert. The receptor-gateway pod has been down for two minutes."
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/receptor/App-insights-receptor-controller-gateway-In-receptor-prod-Absent.rst"


    - alert: App-insights-receptor-controller-switch-In-receptor-prod-Absent
      expr: up{service="receptor-controller", namespace="receptor-prod"} == 0
      for: 2m
      labels:
        severity: critical
        service: insights
        env: prod
        app_team: data-pipeline
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/FRmd1NeWk1/receptor-controller?orgId=1"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/receptor-prod/deployments/receptor-switch"
        message: "Receptor-Controller Alert. The receptor-switch pod has been down for two minutes."
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/receptor/App-insights-receptor-controller-switch-In-receptor-prod-Absent.rst"


    - alert: ReceptorGatewayContainerRestart
      expr: |
        sum(increase(kube_pod_container_status_restarts_total{container="receptor-gateway"}[5m])) by (namespace) > 0
      labels:
        severity: info
        service: insights
        env: prod
        app_team: data-pipeline
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/FRmd1NeWk1/receptor-controller?orgId=1"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/receptor-prod/deployments/receptor-gateway"
        message: "Receptor-Controller Alert. The receptor-gateway pod has been restarting."


    - alert: ReceptorSwitchContainerRestart
      expr: |
        sum(increase(kube_pod_container_status_restarts_total{container="receptor-switch"}[5m])) by (namespace) > 0
      labels:
        severity: info
        service: insights
        env: prod
        app_team: data-pipeline
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/FRmd1NeWk1/receptor-controller?orgId=1"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/receptor-prod/deployments/receptor-switch"
        message: "Receptor-Controller Alert. The receptor-switch pod has been restarting."


    - alert: ReceptorRedisConnectionErrors
      expr: |
        sum(increase(receptor_controller_redis_connection_error_count[5m])) by (kubernetes_namespace) > 0
      for: 2m
      labels:
        severity: info
        service: insights
        env: prod
        app_team: data-pipeline
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/FRmd1NeWk1/receptor-controller?orgId=1"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/receptor-prod/deployments"
        message: "Receptor-Controller Alert. Receptor-Controller failed to connect to redis"


    - alert: ReceptorGatewayKafkaProducerErrors
      expr: |
        sum(increase(receptor_controller_kafka_response_writer_failure_count[5m])) by (kubernetes_namespace) > 0
      for: 2m
      labels:
        severity: info
        service: insights
        env: prod
        app_team: data-pipeline
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/FRmd1NeWk1/receptor-controller?orgId=1"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/receptor-prod/deployments/receptor-gateway"
        message: "Receptor-Controller Alert. The gateway pod failed to write responses to kafka."

