---
"$schema": /metaschema-1.json
version: '1.0'
type: object
additionalProperties: false
properties:
  "$schema":
    type: string
    enum:
    - /openshift/prometheus-rule-1.yml
  apiVersion:
    type: string
    enum:
    - monitoring.coreos.com/v1
  kind:
    type: string
    enum:
    - PrometheusRule
  metadata:
    type: object
    properties:
      name:
        type: string
      labels:
        type: object
        properties:
          prometheus:
            type: string
            enum:
            - app-sre
          role:
            type: string
            enum:
            - alert-rules
        required:
        - prometheus
        - role
    required:
    - name
    - labels
  spec:
    type: object
    additionalProperties: false
    properties:
      groups:
        type: array
        items:
          type: object
          additionalProperties: false
          properties:
            name:
              type: string
            interval:
              type: string
            rules:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  record:
                    type: string
                  alert:
                    type: string
                  labels:
                    type: object
                    properties:
                      severity:
                        type: string
                        enum:
                        - deadman
                        - critical
                        - high
                        - warning
                        - medium
                        - info
                        - test
                  expr:
                    type: string
                  interval:
                    type: string
                  for:
                    type: string
                  annotations:
                    type: object
                    additionalProperties: false
                    properties:
                      summary:
                        type: string
                      description:
                        type: string
                      message:
                        type: string
                      runbook:
                        type: string
                        format: uri
                      dashboard:
                        type: string
                        format: uri
                      link_url:
                        type: string
                        format: uri
                    required:
                    - message
                required:
                - expr
          required:
          - name
          - rules
    required:
    - groups
required:
- "$schema"
- apiVersion
- kind
- metadata
- spec
