---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: vulnerability-engine-prod
spec:
  groups:
  - name: vulnerability-engine-prod
    rules:

    - alert: VulnerabilityEngine5xx
      expr: |
        sum(rate(api_3scale_gateway_api_status{status="5xx",exported_service="vulnerability"}[5m])) / sum(rate(api_3scale_gateway_api_status{exported_service="vulnerability"}[5m])) > .1
      for: 5m
      labels:
        severity: high
        service: insights
        env: prod
        app_team: vulnerability
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-manager-service"
        message: "More than 10 % requests from vulnerability-engine-prod returned HTTP 5XX in last 5 minutes"
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilityEngine5xx.md'

    - alert: VulnerabilityEngineKafkaLagEvents
      expr: sum(kafka_consumergroup_group_topic_sum_lag{group="vulnerability", topic="platform.inventory.events"}) > 200000
      for: 60m
      labels:
        severity: info
        service: insights
        env: prod
        app_team: vulnerability
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-listener-service"
        message: "vulnerability-engine-prod kafka consumer lag on platform.inventory.events topic is > 200000 messages"
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilityEngineKafkaLagEvents.md'

    - alert: VulnerabilityEngineKafkaLagEngine
      expr: sum(kafka_consumergroup_group_topic_sum_lag{group="vulnerability", topic="platform.engine.results"}) > 200000
      for: 60m
      labels:
        severity: info
        service: insights
        env: prod
        app_team: vulnerability
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-advisor-listener-service"
        message: "vulnerability-engine-prod kafka consumer lag on platform.engine.results topic is > 200000 messages"
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilityEngineKafkaLagEngine.md'

    - alert: VulnerabilityEngineKafkaLagEvaluatorUpload
      expr: sum(kafka_consumergroup_group_topic_sum_lag{group="vulnerability", topic="vulnerability.evaluator.upload"}) > 200000
      for: 60m
      labels:
        severity: info
        service: insights
        env: prod
        app_team: vulnerability
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-evaluator-upload-service"
        message: "vulnerability-engine-prod kafka consumer lag on vulnerability.evaluator.upload topic is > 200000 messages"
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilityEngineKafkaLagEvaluatorUpload.md'

    - alert: VulnerabilityEngineKafkaLagEvaluatorRecalc
      expr: sum(kafka_consumergroup_group_topic_sum_lag{group="vulnerability", topic="vulnerability.evaluator.recalc"}) > 500000
      for: 60m
      labels:
        severity: info
        service: insights
        env: prod
        app_team: vulnerability
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-evaluator-recalc-service"
        message: "vulnerability-engine-prod kafka consumer lag on vulnerability.evaluator.recalc topic is > 500000 messages"
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilityEngineKafkaLagEvaluatorRecalc.md'

    - alert: VulnerabilitySLOAvailability
      expr: sum(rate(api_3scale_gateway_api_status{status="5xx",exported_service="vulnerability"}[28d])) / sum(rate(api_3scale_gateway_api_status{exported_service="vulnerability"}[28d])) > .1
      for: 28d
      labels:
        severity: info
        service: insights
        env: prod
        app_team: vulnerability
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-manager-service"
        message: "vulnerability-engine-prod availability SLO breached"
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilitySLOAvailability.md'

    - alert: VulnerabilitySLOLatency
      expr: avg_over_time(service:sli:latency_gt_2000:pctl10rate5m{exported_service="vulnerability"}[28d]) < 0.9
      for: 28d
      labels:
        severity: info
        service: insights
        env: prod
        app_team: vulnerability
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-manager-service"
        message: "vulnerability-engine-prod latency SLO breached"
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilitySLOLatency.md'

    - alert: VulnerabilityEngineListenerDatabaseErrors
      expr: sum(increase(ve_listener_database_error_total[60m])) > 10
      for: 5m
      labels:
        severity: medium
        service: insights
        env: prod
        app_team: vulnerability
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-manager-service"
        message: "Increase of listener database errors is greater than 10"
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilityEngineListenerDatabaseErrors.md'

    - alert: VulnerabilityEngineEvaluatorVmaasErrors
      expr: sum(increase(ve_evaluator_vmaas_errors_skip_total[60m])) > 100
      for: 5m
      labels:
        severity: medium
        service: insights
        env: prod
        app_team: vulnerability
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine"
        link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-manager-service"
        message: "Increase of system not evaluated by VMaaS is greater than 100"
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilityEngineEvaluatorVmaasErrors.md'
