---
$schema: /app-interface/prometheus-rule-test-1.yml

rule_files:
- /insights-prod/vulnerability-engine-prod/vulnerability-engine-prometheusrules.yaml

evaluation_interval: 5m

tests:
# Tests VulnerabilityEngine5xx
- interval: 1m
  input_series:
  - series: api_3scale_gateway_api_status{status="5xx",exported_service="vulnerability"}
    values: 0+1x30
  - series: api_3scale_gateway_api_status{exported_service="vulnerability"}
    values: 100+0x30


  alert_rule_test:
  # Test the no alert case
  - eval_time: 1m
    alertname: VulnerabilityEngine5xx
    exp_alerts:

  # Test 5xx alert
  - eval_time: 30m
    alertname: VulnerabilityEngine5xx
    exp_alerts:
    - exp_annotations:
        dashboard: 'https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine'
        link_url: 'https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-manager-service'
        message: 'More than 10 % requests from vulnerability-engine-prod returned HTTP 5XX in last 5 minutes'
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilityEngine5xx.md'
      exp_labels:
        severity: high
        service: insights
        env: prod
        app_team: vulnerability

# Tests VulnerabilityEngineKafkaLagEvents
- interval: 10m
  input_series:
  - series: kafka_consumergroup_group_topic_sum_lag{group="vulnerability", topic="platform.inventory.events"}
    values: 0 0 0 200001 200001 200001 200001 200001 200001 200001 200001 200001 200001 200001 200001

  alert_rule_test:
  # Test the no alert case
  - eval_time: 20m
    alertname: VulnerabilityEngineKafkaLagEvents
    exp_alerts:

  # VulnerabilityEngineKafkaLagEvents
  - eval_time: 110m
    alertname: VulnerabilityEngineKafkaLagEvents
    exp_alerts:
    - exp_annotations:
        dashboard: 'https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine'
        link_url: 'https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-listener-service'
        message: 'vulnerability-engine-prod kafka consumer lag on platform.inventory.events topic is > 200000 messages'
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilityEngineKafkaLagEvents.md'
      exp_labels:
        severity: info
        service: insights
        env: prod
        app_team: vulnerability

# Tests VulnerabilityEngineKafkaLagEngine
- interval: 10m
  input_series:
  - series: kafka_consumergroup_group_topic_sum_lag{group="vulnerability", topic="platform.engine.results"}
    values: 0 0 0 200001 200001 200001 200001 200001 200001 200001 200001 200001 200001 200001 200001

  alert_rule_test:
  # Test the no alert case
  - eval_time: 20m
    alertname: VulnerabilityEngineKafkaLagEngine
    exp_alerts:

  # VulnerabilityEngineKafkaLagEngine
  - eval_time: 110m
    alertname: VulnerabilityEngineKafkaLagEngine
    exp_alerts:
    - exp_annotations:
        dashboard: 'https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine'
        link_url: 'https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-advisor-listener-service'
        message: 'vulnerability-engine-prod kafka consumer lag on platform.engine.results topic is > 200000 messages'
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilityEngineKafkaLagEngine.md'
      exp_labels:
        severity: info
        service: insights
        env: prod
        app_team: vulnerability


# Tests VulnerabilityEngineKafkaLagEvaluatorUpload
- interval: 10m
  input_series:
  - series: kafka_consumergroup_group_topic_sum_lag{group="vulnerability", topic="vulnerability.evaluator.upload"}
    values: 0 0 0 200001 200001 200001 200001 200001 200001 200001 200001 200001 200001 200001 200001

  alert_rule_test:
  # Test the no alert case
  - eval_time: 20m
    alertname: VulnerabilityEngineKafkaLagEvaluatorUpload
    exp_alerts:

  # VulnerabilityEngineKafkaLagEvaluatorUpload
  - eval_time: 110m
    alertname: VulnerabilityEngineKafkaLagEvaluatorUpload
    exp_alerts:
    - exp_annotations:
        dashboard: 'https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine'
        link_url: 'https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-evaluator-upload-service'
        message: 'vulnerability-engine-prod kafka consumer lag on vulnerability.evaluator.upload topic is > 200000 messages'
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilityEngineKafkaLagEvaluatorUpload.md'
      exp_labels:
        severity: info
        service: insights
        env: prod
        app_team: vulnerability


# Tests VulnerabilityEngineKafkaLagEvaluatorRecalc
- interval: 10m
  input_series:
  - series: kafka_consumergroup_group_topic_sum_lag{group="vulnerability", topic="vulnerability.evaluator.recalc"}
    values: 0 0 0 500001 500001 500001 500001 500001 500001 500001 500001 500001 500001 500001 500001

  alert_rule_test:
  # Test the no alert case
  - eval_time: 20m
    alertname: VulnerabilityEngineKafkaLagEvaluatorRecalc
    exp_alerts:

  # VulnerabilityEngineKafkaLagEvents
  - eval_time: 110m
    alertname: VulnerabilityEngineKafkaLagEvaluatorRecalc
    exp_alerts:
    - exp_annotations:
        dashboard: 'https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine'
        link_url: 'https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-evaluator-recalc-service'
        message: 'vulnerability-engine-prod kafka consumer lag on vulnerability.evaluator.recalc topic is > 500000 messages'
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilityEngineKafkaLagEvaluatorRecalc.md'
      exp_labels:
        severity: info
        service: insights
        env: prod
        app_team: vulnerability

# Tests VulnerabilitySLOAvailability
- interval: 1d
  input_series:
  - series: api_3scale_gateway_api_status{status="5xx",exported_service="vulnerability"}
    values: 0+1x30
  - series: api_3scale_gateway_api_status{exported_service="vulnerability"}
    values: 100+0x30


  alert_rule_test:
  # Test the no alert case
  - eval_time: 1d
    alertname: VulnerabilitySLOAvailability
    exp_alerts:

  # Test VulnerabilitySLOAvailability
  - eval_time: 30d
    alertname: VulnerabilitySLOAvailability
    exp_alerts:
    - exp_annotations:
        dashboard: 'https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine'
        link_url: 'https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-manager-service'
        message: 'vulnerability-engine-prod availability SLO breached'
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilitySLOAvailability.md'
      exp_labels:
        severity: info
        service: insights
        env: prod
        app_team: vulnerability

# Tests VulnerabilitySLOLatency
- interval: 1d
  input_series:
  - series: service:sli:latency_gt_2000:pctl10rate5m{exported_service="vulnerability"}
    values: 0.5x30


  alert_rule_test:
  # Test the no alert case
  - eval_time: 1d
    alertname: VulnerabilitySLOLatency
    exp_alerts:

  # Test VulnerabilitySLOLatency
  - eval_time: 30d
    alertname: VulnerabilitySLOLatency
    exp_alerts:
    - exp_annotations:
        dashboard: 'https://grafana.app-sre.devshift.net/d/vUgt4Eumk/vulnerability-engine'
        link_url: 'https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/vulnerability-engine-prod/deployments/vulnerability-engine-manager-service'
        message: 'vulnerability-engine-prod latency SLO breached'
        runbook: 'https://gitlab.cee.redhat.com/service/app-interface/-/tree/master/docs/console.redhat.com/app-sops/vulnerability/VulnerabilitySLOLatency.md'
      exp_labels:
        severity: info
        service: insights
        env: prod
        app_team: vulnerability
        exported_service: vulnerability
