apiVersion: hive.openshift.io/v1
kind: SelectorSyncSet
metadata:
  labels:
    managed.openshift.io/osd: 'true'
  name: aws-vpce-operator-transit-resources-{{ hypershift_cluster_type }}
spec:
  clusterDeploymentSelector:
    matchLabels:
      ext-hypershift.openshift.io/cluster-type: {{ hypershift_cluster_type }}
  resourceApplyMode: Sync
  secretMappings:
  - sourceRef:
      name: {{ secret_name }}
      namespace: aws-vpce-operator
    targetRef:
      name: {{ secret_name }}
      namespace: openshift-aws-vpce-operator
