apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: all-application-sets
spec:
  project: default
  source:
    path: {{ path }}
    repoURL: https://github.com/redhat-appstudio/infra-deployments.git
    targetRevision: main
  destination:
    namespace: {{ resource.namespace.name }}
    server: https://kubernetes.default.svc
  syncPolicy:
    automated: 
      prune: true
      selfHeal: true
