apiVersion: v1
data:
  triggers.yaml: |
    - name: "Example Webhook"
      criteria: "summary is 'test webhook trigger log'"
      owner: "tiwillia@redhat.com"
      action:
        type: "webhook"
        webhook_parameters:
          url: "http://127.0.0.1/webhook"
          verify_ssl: true
          authentication:
            method: "none"
    - name: "SendGrid Service Webhook"
      criteria: "Summary like '%Data Foundation Managed Service%'"
      owner: "pamccart@redhat.com"
      allow_for_external_user: true
      action:
        type: "webhook"
        webhook_parameters:
          url: "https://ocm-sendgrid-service.sendgrid-integration.svc:8000/api/ocm-sendgrid-service/v1/webhook"
          verify_ssl: true
          authentication:
            method: "none"
    - name: "Development Example Email"
      criteria: "Summary = 'test email include_redhat_associates flag'"
      owner: "tiwillia@redhat.com"
      action:
        type: "email"
        email_parameters:
          mandrill_template_name: "ocm-basic-log-notification"
          subject: "A new log has been created against your OpenShift cluster including redhat associates"
          bcc_address: "tiwillia+osl_trigger_dev@redhat.com"
          include_red_hat_associates: true
          mandrill_global_merge_vars:
            - name: "TEST_TAG"
              content: "foo bar baz buzz"
    - name: "Email Notification for failed cluster deletion in Openshift Cluster Manager"
      criteria: "Summary = 'Error deleting cluster in Openshift Cluster Manager'"
      owner: "pvasanth@redhat.com"
      action:
        type: "email"
        email_parameters:
          mandrill_template_name: "generic-sre-notification-template"
          subject: "*|LOG_SUMMARY|*"
          bcc_address: "sda-devel+delete@redhat.com"         
kind: ConfigMap
metadata:
  name: ocm-service-log-triggers
  annotations:
    # This will cause updates to this configMap to cycle deployments that use it
    qontract.recycle: "true"
