---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: insights-topological-inventory-prod
  labels:
    prometheus: app-sre
    role: alert-rules
spec:
  groups:
  - name: topology-api-prod
    rules:
      - alert: TopologyApi5xxErrors
        expr: (sum(rate(api_3scale_gateway_api_status{exported_service="topological-inventory",status="5xx"}[1m])) / sum(rate(api_3scale_gateway_api_status{exported_service="topological-inventory"}[1m]))) * 100 > 50
        for: 10m
        labels:
          severity: info
          service: insights
          env: prod
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/topological-inventory-prod/deployments/topological-inventory-api"
          message: "Topology API has been throwing 5xx errors more than 50% of the time for the last 10 minutes"
  - name: topology-collector-ansible-tower-prod
    rules:
      - alert: TopologyCollectorAnsibleTowerErrors
        expr: (sum(increase(topological_inventory_ansible_tower_collector_errors_total[1m])) / count(increase(topological_inventory_ansible_tower_collector_errors_total[1m]))) > 50
        for: 10m
        labels:
          severity: info
          service: insights
          env: prod
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/topological-inventory-prod/deployments"
          message: "Ansible Tower Collector(s) have logged > 50 errors in the last 10 minutes"
  - name: topology-persister-queue-depth-prod
    rules:
      - alert: TopologyPersisterQueueDepth
        expr: (sum(increase(topological_inventory_ingress_api_message_on_queue[1m])) / sum(increase(topological_inventory_persister_messages_total[1m]))) > 2
        for: 10m
        labels:
          severity: medium
          service: insights
          env: prod
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/topological-inventory-prod/deployments"
          message: "Persister queue depth has been increasing for the last 10 minutes"
  - name: topology-ingress-prod
    rules:
      - alert: TopologyIngressErrors
        expr: (sum(increase(topological_inventory_ingress_api_error_processing_payload[1m])) / count(increase(topological_inventory_ingress_api_error_processing_payload[1m]))) > 50
        for: 10m
        labels:
          severity: info
          service: insights
          env: prod
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/topological-inventory-prod/deployments/topological-inventory-ingress-api"
          message: 'Ingress(s) have logged > 50 errors in the last 10 minutes'
  - name: topology-metric-scaler-prod
    rules:
      - alert: TopologyMetricScalerPrometheusErrors
        expr: (sum(increase(topological_inventory_orchestrator_metric_scaler_error[10m]))) > 3
        for: 1m
        labels:
          severity: high
          service: insights
          env: prod
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/topological-inventory-prod/deployments/topological-inventory-metric-scaler"
          message: 'Metric Scaler has been failing to fetch Prometheus Metrics for the last 10 minutes'
  - name: topology-persister-skipped-messages
    rules:
      - alert: TopologyPersisterSkippingMessages
        expr: (sum(increase(topological_inventory_persister_messages_total{result="skipped"}[10m]))) > 100
        for: 1m
        labels:
          severity: high
          service: insights
          env: prod
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/topological-inventory-prod/deployments/topological-inventory-metric-scaler"
          message: 'Persister(s) have skipped more than 100 messages in the last 10 minutes'
  - name: topology-ansible-tower-operations-prod
    rules:
      - alert: TopologyAnsibleTowerOperationsLag
        expr: sum(kafka_consumergroup_group_lag{topic=~'platform.topological-inventory.operations-ansible-tower'}) > 500
        for: 10m
        labels:
          severity: high
          service: insights
          env: prod
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/topological-inventory-prod/deployments/topological-inventory-metric-scaler"
          message: 'Ansible Tower has over 500 messages in operations queue'
  - name: topology-amazon-operations-prod
    rules:
      - alert: TopologyAmazonOperationsLag
        expr: sum(kafka_consumergroup_group_lag{topic=~'platform.topological-inventory.operations-amazon'}) > 500
        for: 10m
        labels:
          severity: high
          service: insights
          env: prod
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/topological-inventory-prod/deployments/topological-inventory-metric-scaler"
          message: 'Amazon has over 500 messages in operations queue'
  - name: topology-azure-operations-prod
    rules:
      - alert: TopologyAzureOperationsLag
        expr: sum(kafka_consumergroup_group_lag{topic=~'platform.topological-inventory.operations-azure'}) > 500
        for: 10m
        labels:
          severity: high
          service: insights
          env: prod
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/topological-inventory-prod/deployments/topological-inventory-metric-scaler"
          message: 'Azure has over 500 messages in operations queue'
  - name: topology-openshift-operations-prod
    rules:
      - alert: TopologyOpenshiftOperationsLag
        expr: sum(kafka_consumergroup_group_lag{topic=~'platform.topological-inventory.operations-openshift'}) > 500
        for: 10m
        labels:
          severity: high
          service: insights
          env: prod
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/topological-inventory-prod/deployments/topological-inventory-metric-scaler"
          message: 'Openshift has over 500 messages in operations queue'
  - name: topology-satellite-operations-prod
    rules:
      - alert: TopologySatelliteOperationsLag
        expr: sum(kafka_consumergroup_group_lag{topic=~'platform.topological-inventory.operations-satellite'}) > 500
        for: 10m
        labels:
          severity: high
          service: insights
          env: prod
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/topological-inventory-prod/deployments/topological-inventory-metric-scaler"
          message: 'Satellite has over 500 messages in operations queue'
