apiVersion: v1
kind: Secret
metadata:
  name: prometheus-additional-scrape-config-2
data:
  prometheus-ams-subscription-labels.yaml:
    {% b64encode %}
    - job_name: 'ams-subscription-labels'
      metrics_path: /labels
      honor_labels: true
      scrape_interval: 5m
      scrape_timeout: 5m
      kubernetes_sd_configs:
        - role: service
          namespaces:
            names:
              - {{namespace}}
      relabel_configs:
        - action: keep
          source_labels:
            - __meta_kubernetes_service_label_app
          regex: uhc-acct-mngr
        - action: keep
          source_labels:
            - __meta_kubernetes_service_label_port
          regex: metrics
        - source_labels:
            - __meta_kubernetes_service_name
          target_label: job
          replacement: ${1}
        - source_labels:
            - __meta_kubernetes_namespace
          target_label: namespace
        - source_labels:
            - __meta_kubernetes_service_name
          target_label: service
    {% endb64encode %}
