apiVersion: v1
kind: ConfigMap
metadata:
  name: insights-engine
data:
  config.yaml: |+
    plugins:
        default_component_enabled: true
        packages:
            - insights.specs.default
            - insights.specs.insights_archive
            - telemetry.rules
            - prodsec.rules
            - insights_kafka_service.rules
    configs: []
    service:
        extract_timeout: 10
        extract_tmp_dir:
        format: insights_kafka_service.formats._insights.InsightsFormat
        target_components: []
        consumer:
          name: "insights_kafka_service.consumer.InsightsKafkaConsumer"
          kwargs:
            services:
              - "advisor"
            incoming_topic: "platform.inventory.host-egress"
            group_id: "insights-core-kafka"
            bootstrap_servers:
              - "platform-mq-ci-kafka-bootstrap.platform-mq-ci.svc:9092"
            queued.max.messages.kbytes: 10000
        publisher:
          name: "insights_kafka_service.producer.InsightsKafkaProducer"
          kwargs:
            topic: "platform.engine.results"
            bootstrap_servers:
              - "platform-mq-ci-kafka-bootstrap.platform-mq-ci.svc:9092"
        downloader:
          name: "insights_messaging.downloaders.httpfs.Http"
        logging:
          version: 1
          disable_existing_loggers: false
          formatters:
            logstash:
              (): logstash_formatter.LogstashFormatterV1
          handlers:
            console:
              class: logging.StreamHandler
              formatter: logstash
              stream: ext://sys.stdout
            watchtower:
              formatter: logstash
              (): watchtower.CloudWatchLogHandler
              log_group: platform-dev
              stream_name: ext://insights_kafka_service.HOSTNAME
          loggers:
            insights.core.dr:
              level: "ERROR"
            kafka:
              level: "ERROR"
            "":
              handlers:
                - console
                - watchtower
              level: "INFO"
        watchers:
          - name: "insights_kafka_service.metrics.Watcher"
          - name: "insights_kafka_service.metrics.Engine"
  
