{%- for cluster in query('/queries/cluster-upgrade-policy-workloads.graphql') %}
{%- if cluster.upgradePolicy is not none %}
{%- for workload in cluster.upgradePolicy.workloads %}
{%- if workload not in cluster.ocm.upgradePolicyAllowedWorkloads %}

# raise an error if workload is not within the allowed workloads defined in the OCM file
{% raise_error('Cluster "' + cluster.name + '" upgrade policy workload "' +  workload + '" not in upgradePolicyAllowedWorkloads: ' + (cluster.ocm.upgradePolicyAllowedWorkloads | join(', '))) %}

{%- endif %}
{%- endfor %}
{%- for mutex in cluster.upgradePolicy.mutexes %}
{%- if mutex not in cluster.ocm.upgradePolicyAllowedMutexes %}

# raise an error if mutex is not within the allowed mutexes defined in the OCM file
{% raise_error('Cluster "' + cluster.name + '" upgrade policy mutex "' +  mutex + '" not in upgradePolicyAllowedMutexes: ' + (cluster.ocm.upgradePolicyAllowedMutexes | join(', '))) %}

{%- endif %}
{%- endfor %}
{%- endif %}
{%- endfor %}
