apiVersion: v1
kind: Secret
metadata:
  name: {{{ name }}}
  labels:
    version: {{{ version_label }}}
  annotations:
    qontract.recycle: "true"
    qontract.ignore_reconcile_time: "true"
data:
  config.yaml: >-
    {{% b64encode %}}
    ---
    {{%- if readonly %}}
    REGISTRY_STATE: readonly
    INSTANCE_SERVICE_KEY_KID_LOCATION: 'conf/stack/quay-readonly.kid'
    INSTANCE_SERVICE_KEY_LOCATION: 'conf/stack/quay-readonly.pem'
    {{%- endif %}}
    FEATURE_PROXY_PROTOCOL: true
    SESSION_COOKIE_SECURE: true

    AUTHENTICATION_TYPE: Database
    BITTORRENT_FILENAME_PEPPER: b0aeb00f-f755-4229-af66-e172f3ba102c
    BUILDLOGS_REDIS:
      host: {{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-elasticache', 'db.endpoint') }}}
      password: {{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-elasticache', 'db.auth_token') }}}
      ssl: true
    CONTACT_INFO:
    - q1w2.quay.rhcloud.com
    DATABASE_SECRET_KEY: "{{{ vault('app-interface/ocm-quay/common/quay-additional-config', 'DATABASE_SECRET_KEY', '{{ additional_config_vault_secret_version }}') }}}"
    {{%- if ro_instance %}}
    DB_URI: 'mysql+pymysql://{{{ vault('app-interface/ocm-quay/read-only/quay-additional-config', 'db.user', '{{ ro_additional_config_vault_secret_version }}') }}}:{{{ vault('app-interface/ocm-quay/read-only/quay-additional-config', 'db.password', '{{ ro_additional_config_vault_secret_version }}') }}}@{{{ vault('app-sre/integrations-output/terraform-resources/{{ resource.namespace.cluster.name }}/ocm-quay/{{ resource.namespace.cluster.name }}-rds', 'db.host') }}}/{{{ vault('app-interface/ocm-quay/common/quay-additional-config', 'db.name', '{{ additional_config_vault_secret_version }}') }}}'
    {{%- elif readonly %}}
    DB_URI: 'mysql+pymysql://{{{ vault('app-interface/ocm-quay/read-only/quay-additional-config', 'db.user', '{{ ro_additional_config_vault_secret_version }}') }}}:{{{ vault('app-interface/ocm-quay/read-only/quay-additional-config', 'db.password', '{{ ro_additional_config_vault_secret_version }}') }}}@{{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-production-rds', 'db.host') }}}/{{{ vault('app-interface/ocm-quay/common/quay-additional-config', 'db.name', '{{ additional_config_vault_secret_version }}') }}}'
    {{%- else %}}
    DB_URI: 'mysql+pymysql://{{{ vault('app-interface/ocm-quay/read-write/quay-additional-config', 'db.user', '{{ rw_additional_config_vault_secret_version }}') }}}:{{{ vault('app-interface/ocm-quay/read-write/quay-additional-config', 'db.password', '{{ rw_additional_config_vault_secret_version }}') }}}@{{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-production-rds', 'db.host') }}}/{{{ vault('app-interface/ocm-quay/common/quay-additional-config', 'db.name', '{{ additional_config_vault_secret_version }}') }}}'
    {{%- endif %}}
    DB_CONNECTION_ARGS:
      threadlocals: true
      autorollback: true
      max_connections: 20
      ssl:
        ca: conf/stack/rds-ssl-ca-cert.pem

    DISTRIBUTED_STORAGE_CONFIG:
      s3_us_east_1:
        - CloudFrontedS3Storage
        - cloudfront_key_id: {{{ vault('app-interface/ocm-quay/common/quay-additional-config', 'cloudfront_key_id', '{{ additional_config_vault_secret_version }}') }}}
          {{%- if use_backup %}}
          cloudfront_distribution_domain: {{{ vault('app-interface/ocm-quay/read-only/quay-additional-config', 'cloudfront_distribution_domain', '{{ ro_additional_config_vault_secret_version }}') }}}
          s3_access_key: {{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-s3-backup', 'aws_access_key_id') }}}
          s3_bucket: {{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-s3-backup', 'bucket') }}}
          s3_secret_key: {{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-s3-backup', 'aws_secret_access_key') }}}
          {{%- else %}}
          cloudfront_distribution_domain: {{{ vault('app-interface/ocm-quay/read-write/quay-additional-config', 'cloudfront_distribution_domain', '{{ rw_additional_config_vault_secret_version }}') }}}
          s3_access_key: {{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-s3', 'aws_access_key_id') }}}
          s3_bucket: {{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-s3', 'bucket') }}}
          s3_secret_key: {{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-s3', 'aws_secret_access_key') }}}
          {{%- endif %}}
          cloudfront_privatekey_filename: cloudfront-signing-key.pem
          storage_path: ''
    DISTRIBUTED_STORAGE_DEFAULT_LOCATIONS: []
    DISTRIBUTED_STORAGE_PREFERENCE:
    - s3_us_east_1
    ENTERPRISE_LOGO_URL: /static/img/quay-horizontal-color.svg
    FEATURE_ACI_CONVERSION: false
    FEATURE_ANONYMOUS_ACCESS: true
    FEATURE_APP_REGISTRY: true
    FEATURE_APP_SPECIFIC_TOKENS: true
    FEATURE_BUILD_SUPPORT: false
    FEATURE_CHANGE_TAG_EXPIRATION: true
    FEATURE_DIRECT_LOGIN: true
    FEATURE_MAILING: false
    FEATURE_PARTIAL_USER_AUTOCOMPLETE: true
    FEATURE_REPO_MIRROR: false
    FEATURE_REQUIRE_TEAM_INVITE: true
    FEATURE_RESTRICTED_V1_PUSH: true
    FEATURE_SECURITY_NOTIFICATIONS: true
    FEATURE_SECURITY_SCANNER: false
    FEATURE_USERNAME_CONFIRMATION: true
    FEATURE_USER_CREATION: false
    FEATURE_USER_LOG_ACCESS: true
    GITHUB_LOGIN_CONFIG: {}
    GITHUB_TRIGGER_CONFIG: {}
    GITLAB_TRIGGER_KIND: {}
    LOG_ARCHIVE_LOCATION: s3_us_east_1
    MAIL_DEFAULT_SENDER: support@quay.io
    MAIL_PORT: 587
    MAIL_USE_TLS: true
    PREFERRED_URL_SCHEME: https
    REGISTRY_TITLE: Red Hat OCM Quay
    REGISTRY_TITLE_SHORT: Red Hat OCM Quay
    REPO_MIRROR_SERVER_HOSTNAME: null
    REPO_MIRROR_TLS_VERIFY: true
    SECRET_KEY: "{{{ vault('app-interface/ocm-quay/common/quay-additional-config', 'SECRET_KEY', '{{ additional_config_vault_secret_version }}') }}}"
    SECURITY_SCANNER_ISSUER_NAME: security_scanner
    {{%- if ro_instance %}}
    SERVER_HOSTNAME: pull.q1w2.quay.rhcloud.com
    {{%- else %}}
    SERVER_HOSTNAME: push.q1w2.quay.rhcloud.com
    {{%- endif %}}
    SETUP_COMPLETE: true
    SIGNING_ENGINE: gpg2
    TAG_EXPIRATION_OPTIONS:
    - 0s
    - 1d
    - 1w
    - 2w
    - 4w
    TEAM_RESYNC_STALE_TIME: 60m
    TESTING: false
    USERFILES_LOCATION: s3_us_east_1
    USERFILES_PATH: userfiles/
    USER_EVENTS_REDIS:
      host: {{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-elasticache', 'db.endpoint') }}}
      password: {{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-elasticache', 'db.auth_token') }}}
      ssl: true
    USE_CDN: false

    LOGS_MODEL: 'transition_reads_both_writes_es'
    LOGS_MODEL_CONFIG: {
      producer: "kinesis_stream",
      elasticsearch_config: {
        'host': "{{{  vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-elasticsearch', 'endpoint') | replace("https://", "") }}}",
        'port': 443,
        'access_key': "{{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-elasticsearch', 'master_user_name') }}}",
        'secret_key': "{{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-elasticsearch', 'master_user_password') }}}",
        'use_ssl': true,
        'index_prefix': 'logentry_',
        'index_settings': {
          'number_of_shards': 3,
          'number_of_replicas': 1,
          'refresh_interval': '10s',
        }
      },
      kinesis_stream_config: {
        'stream_name': "{{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-kinesis', 'stream_name') }}}",
        'aws_region': "{{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-kinesis', 'aws_region') }}}",
        'aws_access_key': "{{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-kinesis', 'aws_access_key_id') }}}",
        'aws_secret_key': "{{{ vault('app-sre/integrations-output/terraform-resources/ocmquayrwp01ue1/ocm-quay/ocm-quay-kinesis', 'aws_secret_access_key') }}}"
      }
    }
    {{% endb64encode %}}
  cloudfront-signing-key.pem:
    {{% b64encode %}}{{{ vault('app-interface/ocm-quay/common/quay-config-secret', 'cloudfront-signing-key.pem', '{{ config_vault_secret_version }}') }}}{{% endb64encode %}}
  ssl.cert:
    {{% b64encode %}}{{{ vault('app-interface/ocm-quay/common/quay-config-secret', 'ssl.cert', '{{ config_vault_secret_version }}') }}}{{% endb64encode %}}
  ssl.key:
    {{% b64encode %}}{{{ vault('app-interface/ocm-quay/common/quay-config-secret', 'ssl.key', '{{ config_vault_secret_version }}') }}}{{% endb64encode %}}
  quay-readonly.kid:
    {{% b64encode %}}{{{ vault('app-interface/ocm-quay/common/quay-config-secret', 'quay-readonly.kid', '{{ config_vault_secret_version }}') }}}{{%- endb64encode %}}
  quay-readonly.pem:
    {{% b64encode %}}{{{ vault('app-interface/ocm-quay/common/quay-config-secret', 'quay-readonly.pem', '{{ config_vault_secret_version }}') }}}{{%- endb64encode %}}
  rds-ssl-ca-cert.pem:
    {{% b64encode %}}{{{ vault('app-interface/ocm-quay/common/quay-config-secret', 'rds-ssl-ca-cert.pem', '{{ config_vault_secret_version }}') }}}{{%- endb64encode %}}
