---
apiVersion: logging.openshift.io/v1
kind: ClusterLogForwarder
metadata:
  name: instance
  namespace: openshift-logging
spec:
  outputs:
  - cloudwatch:
      groupBy: namespaceName
      groupPrefix: {{ resource.namespace.cluster.name }}
      region: {{ REGION | default(resource.namespace.cluster.spec.region) }}
    name: cloudwatch
    secret:
      name: {{ AWS_SECRET_NAME | default("app-sre-logs-cloudwatch-access") }}
    type: cloudwatch
  {% if RHOBS_LOGGING | default(false) %}
  - name: rhobs
    type: loki
    url: {{ RHOBS_URL | http://clo-token-refresher.openshift-logging.svc.cluster.local }}
  {% endif %}
  pipelines:
  - name: app-logs
    inputRefs:
    - application
    outputRefs:
    - cloudwatch
    {% if RHOBS_LOGGING | default(false) %}
    - rhobs
    {% endif %}
    detectMultilineErrors: true
