---
$schema: /app-interface/prometheus-rule-test-1.yml

rule_files:
- /insights-prod/notifications-prod/notifications.prometheusrules.yaml

evaluation_interval: 1m

tests:

# NotificationsBackendDownProd
- interval: 1m
  input_series:
  - series: up{service="notifications-backend-service", namespace="notifications-prod"}
    values: 1+0x10 0+0x5

  alert_rule_test:
  # No alert in the first 14 min
  - eval_time: 15m
    alertname: NotificationsBackendDownProd
    exp_alerts:

  # Alert after 15 min (5 min with 0)
  - eval_time: 16m
    alertname: NotificationsBackendDownProd
    exp_alerts:
      - exp_labels:
          severity: medium
          service: insights
          env: prod
          app_team: notifications
          namespace: notifications-prod
        exp_annotations:
          dashboard: "https://grafana.app-sre.devshift.net/d/KQIVyFuMk/notifications-dashboard?orgId=1&refresh=15m&var-datasource=crcp01ue1-prometheus"
          description: "Notifications Backend: Down in Prod for 5 minutes."
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/notifications-prod/deployments"
          message: "Notifications Backend Alert (Prod)"
          runbook: "https://core-platform-apps.pages.redhat.com/notifications-docs/dev/SOPs/alerts/NotificationsBackendDownProd.html"

  # Alert after 20 min (5 min with 0 or no metric)
  - eval_time: 20m
    alertname: NotificationsBackendDownProd
    exp_alerts:
      - exp_labels:
          severity: medium
          service: insights
          env: prod
          app_team: notifications
          namespace: notifications-prod
        exp_annotations:
          dashboard: "https://grafana.app-sre.devshift.net/d/KQIVyFuMk/notifications-dashboard?orgId=1&refresh=15m&var-datasource=crcp01ue1-prometheus"
          description: "Notifications Backend: Down in Prod for 5 minutes."
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/notifications-prod/deployments"
          message: "Notifications Backend Alert (Prod)"
          runbook: "https://core-platform-apps.pages.redhat.com/notifications-docs/dev/SOPs/alerts/NotificationsBackendDownProd.html"

# NotificationsGWDownProd
- interval: 1m
  input_series:
  - series: up{service="notifications-gw-service", namespace="notifications-prod"}
    values: 1+0x10 0+0x5

  alert_rule_test:
  # No alert in the first 15 min
  - eval_time: 15m
    alertname: NotificationsGWDownProd
    exp_alerts:

  # Alert after 16 min (5 min with 0)
  - eval_time: 16m
    alertname: NotificationsGWDownProd
    exp_alerts:
      - exp_labels:
          severity: medium
          service: insights
          env: prod
          app_team: notifications
          namespace: notifications-prod
        exp_annotations:
          dashboard: "https://grafana.app-sre.devshift.net/d/KQIVyFuMk/notifications-dashboard?orgId=1&refresh=15m&var-datasource=crcp01ue1-prometheus"
          description: "Notifications GW: Down in Prod for 5 minutes."
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/notifications-prod/deployments"
          message: "Notifications GW Alert (Prod)"
          runbook: "https://core-platform-apps.pages.redhat.com/notifications-docs/dev/SOPs/alerts/NotificationsGWDownProd.html"

  # Alert after 20 min (5 min with 0 or no metric)
  - eval_time: 20m
    alertname: NotificationsGWDownProd
    exp_alerts:
      - exp_labels:
          severity: medium
          service: insights
          env: prod
          app_team: notifications
          namespace: notifications-prod
        exp_annotations:
          dashboard: "https://grafana.app-sre.devshift.net/d/KQIVyFuMk/notifications-dashboard?orgId=1&refresh=15m&var-datasource=crcp01ue1-prometheus"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/notifications-prod/deployments"
          message: "Notifications GW Alert (Prod)"
          description: "Notifications GW: Down in Prod for 5 minutes."
          runbook: "https://core-platform-apps.pages.redhat.com/notifications-docs/dev/SOPs/alerts/NotificationsGWDownProd.html"

#NotificationsRestartsProd
- interval: 1m
  input_series:
  - series: kube_pod_container_status_restarts_total{namespace="notifications-prod", container="notifications-backend-service"}
    values: 0+0x20 1 2 3 5 6 6+0x20
  - series: kube_pod_container_status_restarts_total{namespace="notifications-prod", container="notifications-gw-service"}
    values: 0+0x20 0+0x25

  alert_rule_test:
  - eval_time: 24m
    alertname: NotificationsRestartsProd
    exp_alerts:

  - eval_time: 25m
    alertname: NotificationsRestartsProd
    exp_alerts:
      - exp_labels:
          severity: medium
          service: insights
          env: prod
          app_team: notifications
        exp_annotations:
          dashboard: "https://grafana.app-sre.devshift.net/d/KQIVyFuMk/notifications-dashboard?orgId=1&refresh=15m&var-datasource=crcp01ue1-prometheus"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/notifications-prod/deployments"
          message: "Notifications: Pod restarts occurring more than 5x in the past 20min in prod environment."
          runbook: "https://core-platform-apps.pages.redhat.com/notifications-docs/dev/SOPs/alerts/NotificationsRestartsProd.html"

  - eval_time: 40m
    alertname: NotificationsRestartsProd
    exp_alerts:
      - exp_labels:
          severity: medium
          service: insights
          env: prod
          app_team: notifications
        exp_annotations:
          dashboard: "https://grafana.app-sre.devshift.net/d/KQIVyFuMk/notifications-dashboard?orgId=1&refresh=15m&var-datasource=crcp01ue1-prometheus"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/notifications-prod/deployments"
          message: "Notifications: Pod restarts occurring more than 5x in the past 20min in prod environment."
          runbook: "https://core-platform-apps.pages.redhat.com/notifications-docs/dev/SOPs/alerts/NotificationsRestartsProd.html"

  - eval_time: 41m
    alertname: NotificationsRestartsProd
    exp_alerts:

#NoMessageBeingProcessedProd
- interval: 1m
  input_series:
  - series: input_consumed_seconds_count{service="notifications-backend-service"}
    values: 1 2 3 4 5 6 7 8 9 10 10x20

  alert_rule_test:
  - eval_time: 10m
    alertname: NoMessageBeingProcessedProd
    exp_alerts:

  - eval_time: 20m
    alertname: NoMessageBeingProcessedProd
    exp_alerts:
      - exp_labels:
          severity: medium
          service: insights
          env: prod
          app_team: notifications
        exp_annotations:
          dashboard: "https://grafana.app-sre.devshift.net/d/KQIVyFuMk/notifications-dashboard?orgId=1&viewPanel=172&refresh=15m&var-datasource=crcp01ue1-prometheus"
          link_url: "https://console-openshift-console.apps.crcp01ue1.o9m8.p1.openshiftapps.com/k8s/ns/notifications-prod/deployments"
          message: "Notifications: Stopped processing messages from Kafka"
          runbook: "https://core-platform-apps.pages.redhat.com/notifications-docs/dev/SOPs/alerts/NoMessageBeingProcessedProd.html"
