apiVersion: v1
data:
  triggers.yaml: |
    - name: "Example Webhook"
      criteria: "summary is 'test webhook trigger log'"
      owner: "tiwillia@redhat.com"
      action:
        type: "webhook"
        webhook_parameters:
          url: "http://127.0.0.1/webhook"
          verify_ssl: true
          authentication:
            method: "none"
kind: ConfigMap
metadata:
  name: ocm-service-log-triggers
  annotations:
    # This will cause updates to this configMap to cycle deployments that use it
    qontract.recycle: "true"
