apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: platform-logger
    template: platform-logger-template
  name: logstash-kafka-config
data:
  logstash.conf: |+
    input {
            kafka {
            bootstrap_servers => 'platform-mq-kafka-bootstrap.platform-mq-prod.svc.cluster.local:9092'
            topics => ["platform.logging.logs"]
            codec => json { }
            }
    }

    output {
            http { 
                  url => "http://platform-logger.platform-logging-prod.svc.cluster.local:9092/log/platform-logging-prod"
                  http_method => "post"
                  format => "json"
            }
    }
