apiVersion: v1
kind: Secret
metadata:
  name: {{{ name }}}
  labels:
    version: {{{ version_label }}}
  annotations:
    qontract.recycle: "true"
    qontract.ignore_reconcile_time: "true"
data:
  config.yaml: >-
    {{% b64encode %}}
    ---
    FEATURE_PROXY_PROTOCOL: True
    APP_REGISTRY_PACKAGE_LIST_CACHE_WHITELIST:
    - vdinh
    APP_REGISTRY_SHOW_PACKAGE_CACHE_WHITELIST:
    - vdinh
    AUTHENTICATION_TYPE: Database
    BITTORRENT_FILENAME_PEPPER: 37ec6f71-c88d-4755-b011-55d9d29f4165
    ACTION_LOG_ARCHIVE_LOCATION: s3_us_east_1
    ACTION_LOG_ARCHIVE_PATH: actionlogarchive/
    ACTION_LOG_MAX_PAGE: 5
    ACTION_LOG_ROTATION_FREQUENCY: 60
    AVATAR_KIND: gravatar
    BACKFILL_TAGS: false
    BILLED_NAMESPACE_MAXIMUM_BUILD_COUNT: 3
    BITBUCKET_TRIGGER_CONFIG:
      CONSUMER_KEY: {{{ vault('app-interface/quayio-stage/quayio-stage/bitbucket-trigger-config', 'consumer_key', 1) }}}
      CONSUMER_SECRET: {{{ vault('app-interface/quayio-stage/quayio-stage/bitbucket-trigger-config', 'consumer_secret', 1) }}}
    BITTORRENT_ANNOUNCE_URL: 'https://tracker.quay.io/announce'
    BRANDING:
      footer_img: /static/img/RedHat.svg
      footer_url: 'https://redhat.com'
      logo: 'https://stage.quay.io/static/img/RH_QuayIO.svg'
    BUILDLOGS_REDIS:
      host: {{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-elasticache', 'db.endpoint') }}}
      password: {{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-elasticache', 'db.auth_token') }}}
      ssl: true

    BUILD_MANAGER:
    - ephemeral
    - ALLOWED_WORKER_COUNT: 5
      ORCHESTRATOR_PREFIX: buildman/staging/
      ORCHESTRATOR:
        REDIS_HOST: {{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-elasticache', 'db.endpoint') }}}
        REDIS_PASSWORD: {{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-elasticache', 'db.auth_token') }}}
        REDIS_SSL: true
        REDIS_SKIP_KEYSPACE_EVENT_SETUP: true

      EXECUTORS:
      - EXECUTOR: kubernetes
        NAME: openshift
        MINIMUM_RETRY_THRESHOLD: 1
        BUILDER_VM_CONTAINER_IMAGE: quay.io/quay/quay-builder-qemu-fedoracoreos:34.20210611.3.0
        K8S_API_SERVER: {{{ vault('app-interface/quayio-stage/quayio-stage/quay-builder-config', 'k8s_api_server', 1) }}}
        QUAY_USERNAME: {{{ vault('app-interface/quayio-stage/quayio-stage/quay-builder-config', 'quay_username', 1) }}}
        QUAY_PASSWORD: {{{ vault('app-interface/quayio-stage/quayio-stage/quay-builder-config', 'quay_password', 1) }}}
        WORKER_TAG: staging-multistage
        VOLUME_SIZE: 32G
        BLOCK_DEVICE_SIZE: 58 # Not sure this makes sense here.
        SETUP_TIME: 45
        KUBERNETES_DISTRIBUTION: openshift
        CONTAINER_MEMORY_LIMITS: 5120Mi
        CONTAINER_CPU_LIMITS: 1000m
        CONTAINER_MEMORY_REQUEST: 3968Mi
        CONTAINER_CPU_REQUEST: 500m
        NODE_SELECTOR_LABEL_KEY: beta.kubernetes.io/instance-type
        NODE_SELECTOR_LABEL_VALUE: m5.metal
        SERVICE_ACCOUNT_NAME: quay-builder-sa
        SERVICE_ACCOUNT_TOKEN: {{{ vault('app-sre/integrations-output/openshift-serviceaccount-tokens/shared-resources/quayio-builder-builder-stage-quay-builder-sa', 'token') }}}
        BUILDER_NAMESPACE: builder-stage
        MAX_LIFETIME_S: 3600

      - EXECUTOR: ec2
        EC2_REGION: us-east-1
        COREOS_AMI: ami-09b4202f59cdad6b2
        AWS_ACCESS_KEY: {{{ vault('app-interface/quayio-stage/quayio-stage/quay-builder-config', 'ec2_aws_access_key', 1) }}}
        AWS_SECRET_KEY: {{{ vault('app-interface/quayio-stage/quayio-stage/quay-builder-config', 'ec2_aws_secret_key', 1) }}}
        EC2_INSTANCE_TYPE: t2.large
        EC2_VPC_SUBNET_ID: subnet-a39f0ed4
        EC2_SECURITY_GROUP_IDS:
        - sg-e6b81982
        EC2_KEY_NAME: Kenny's Mac
        QUAY_USERNAME: {{{ vault('app-interface/quayio-stage/quayio-stage/quay-builder-config', 'quay_username', 1) }}}
        QUAY_PASSWORD: {{{ vault('app-interface/quayio-stage/quayio-stage/quay-builder-config', 'quay_password', 1) }}}
        WORKER_TAG: staging-multistage
        VOLUME_SIZE: 52G # Size in truncate notation for the BTRFS volume
        BLOCK_DEVICE_SIZE: 58
        SETUP_TIME: 180
        MAX_LIFETIME_S: 3600

    # CLOUDWATCH_AWS_ACCESS_KEY:
    # CLOUDWATCH_AWS_SECRET_KEY:
    # CLOUDWATCH_NAMESPACE: Quay/Stage
    CONTACT_INFO:
      - 'https://access.redhat.com/articles/quayio-help'

    DATABASE_SECRET_KEY: {{{ vault('app-interface/quayio-stage/quayio-stage/quay-additional-config', 'DATABASE_SECRET_KEY', 1) }}}

    DATA_MODEL_CACHE_CONFIG:
      engine: rediscluster
      redis_config:
        startup_nodes:
          - host: '{{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-modelcache-elasticache', 'db.endpoint') }}}'
            port: {{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-modelcache-elasticache', 'db.port') }}}
        password: '{{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-modelcache-elasticache', 'db.auth_token') }}}'
        read_from_replicas: true
        skip_full_coverage_check: true
        ssl: true

    DB_CONNECTION_ARGS:
      autorollback: true
      threadlocals: true
      max_connections: 80
      timeout: 1
    DB_URI: 'mysql+pymysql://{{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-57-rds', 'db.user') }}}:{{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-57-rds', 'db.password') }}}@{{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-57-rds', 'db.host') }}}/{{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-57-rds', 'db.name') }}}'

    DB_READ_REPLICAS:
    - DB_URI: 'mysql+pymysql://{{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-57-rds', 'db.user') }}}:{{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-57-rds', 'db.password') }}}@{{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-57-rds', 'db.host') }}}/{{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-57-rds', 'db.name') }}}'
      DB_CONNECTION_ARGS:
        autorollback: true
        threadlocals: true
        max_connections: 80
        _driver_autocommit: true
        ssl:
          ca: conf/stack/rds-ssl-ca-cert.pem

    DEFAULT_MAIL_SENDER: support@quay.io
    DEFAULT_NAMESPACE_MAXIMUM_BUILD_COUNT: 1
    DIFFS_QUEUE_NAME: imagediffstaging
    DISABLED_FOR_PULL_LOGS:
      - coreos
      - openshift-release-dev
      - openshift
      - openshiftio
      - redhat
    DEFAULT_TAG_EXPIRATION: 2w

    DISTRIBUTED_STORAGE_CONFIG:
      s3_us_east_1:
        - CloudFrontedS3Storage
        - cloudfront_distribution_domain: {{{ vault('app-interface/quayio-stage/quayio-stage/quay-additional-config', 'cloudfront_distribution_domain', 1) }}}
          cloudfront_key_id: {{{ vault('app-interface/quayio-stage/quayio-stage/quay-additional-config', 'cloudfront_key_id', 1) }}}
          cloudfront_privatekey_filename: default-cloudfront-signing-key.pem
          s3_access_key: {{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-s3', 'aws_access_key_id') }}}
          s3_bucket: {{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-s3', 'bucket') }}}
          s3_secret_key: {{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-s3', 'aws_secret_access_key') }}}
          storage_path: ''

    DISTRIBUTED_STORAGE_PREFERENCE:
      - s3_us_east_1
    # EXCEPTION_LOG_TYPE: Sentry
    FEATURE_ACI_CONVERSION: true
    FEATURE_ACTION_LOG_ROTATION: true
    FEATURE_AGGREGATED_LOG_COUNT_RETRIEVAL: true
    FEATURE_APP_REGISTRY: true
    FEATURE_APP_SPECIFIC_TOKENS: false
    FEATURE_BILLING: true
    FEATURE_BITBUCKET_BUILD: true
    FEATURE_BITTORRENT: true
    FEATURE_DIRECT_LOGIN: false
    FEATURE_DISABLE_PULL_LOGS_FOR_FREE_NAMESPACES: false
    FEATURE_GARBAGE_COLLECTION: false
    FEATURE_GITHUB_BUILD: true
    FEATURE_GITHUB_LOGIN: false
    FEATURE_GITLAB_BUILD: true
    FEATURE_GOOGLE_LOGIN: false
    FEATURE_LIBRARY_SUPPORT: false
    FEATURE_LOG_EXPORT: true
    FEATURE_NAMESPACE_GARBAGE_COLLECTION: false
    FEATURE_RATE_LIMITS: false
    FEATURE_RECAPTCHA: true
    FEATURE_REPOSITORY_GARBAGE_COLLECTION: false
    FEATURE_RESTRICTED_V1_PUSH: true
    FEATURE_SECURITY_NOTIFICATIONS: false
    FEATURE_SECURITY_SCANNER: false
    FEATURE_SIGNING: true
    FEATURE_SUPER_USERS: false
    FEATURE_SUPPORT_CHAT: true
    FEATURE_USER_LAST_ACCESSED: false
    FEATURE_USER_METADATA: true
    GARBAGE_COLLECTION_FREQUENCY: 4604800
    GITHUB_LOGIN_CONFIG:
      API_ENDPOINT: 'https://api.github.com/'
      CLIENT_ID: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-login-config', 'GITHUB_LOGIN_CONFIG__CLIENT_ID', 2) }}}
      CLIENT_SECRET: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-login-config', 'GITHUB_LOGIN_CONFIG__CLIENT_SECRET', 2) }}}
      GITHUB_ENDPOINT: 'https://github.com/'
    GITHUB_TRIGGER_CONFIG:
      API_ENDPOINT: 'https://api.github.com/'
      CLIENT_ID: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-login-config', 'GITHUB_TRIGGER_CONFIG__CLIENT_ID', 2) }}}
      CLIENT_SECRET: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-login-config', 'GITHUB_TRIGGER_CONFIG__CLIENT_SECRET', 2) }}}
      GITHUB_ENDPOINT: 'https://github.com/'
    GITLAB_TRIGGER_CONFIG:
      CLIENT_ID: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-login-config', 'GITLAB_TRIGGER_CONFIG__CLIENT_ID', 2) }}}
      CLIENT_SECRET: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-login-config', 'GITLAB_TRIGGER_CONFIG__CLIENT_SECRET', 2) }}}
      GITLAB_ENDPOINT: 'https://gitlab.com'
    GOOGLE_LOGIN_CLIENT_ID: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-login-config', 'GOOGLE_LOGIN_CONFIG__CLIENT_ID', 2) }}}
    GOOGLE_LOGIN_CLIENT_SECRET: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-login-config', 'GOOGLE_LOGIN_CONFIG__CLIENT_SECRET', 2) }}}
    GOOGLE_LOGIN_CONFIG:
      CLIENT_ID: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-login-config', 'GOOGLE_LOGIN_CONFIG__CLIENT_ID', 2) }}}
      CLIENT_SECRET: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-login-config', 'GOOGLE_LOGIN_CONFIG__CLIENT_SECRET', 2) }}}
    GPG2_PRIVATE_KEY_FILENAME: signing-private.gpg
    GPG2_PRIVATE_KEY_NAME: 4632047EEEB32221
    GPG2_PUBLIC_KEY_FILENAME: signing-public.gpg

    RHSSO_LOGIN_CONFIG:
      CLIENT_ID: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-login-config', 'RHSSO_LOGIN_CONFIG__CLIENT_ID', 2) }}}
      CLIENT_SECRET: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-login-config', 'RHSSO_LOGIN_CONFIG__CLIENT_SECRET', 2) }}}
      OIDC_SERVER: https://sso.stage.redhat.com/auth/realms/redhat-external/
      SERVICE_NAME: Red Hat
      SERVICE_ICON: /static/img/RedHat.svg
      VERIFIED_EMAIL_CLAIM_NAME: email
      PREFERRED_USERNAME_CLAIM_NAME: preferred_username
      LOGIN_SCOPES: ['openid']

    LOG_ARCHIVE_LOCATION: s3_us_east_1
    LOG_ARCHIVE_PATH: logarchive/
    MAIL_DEFAULT_SENDER: support@quay.io
    MAIL_FAIL_SILENTLY: false
    MAIL_PASSWORD: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-smtp-config', 'MAIL_PASSWORD', 2) }}}
    MAIL_PORT: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-smtp-config', 'MAIL_PORT', 2) }}}
    MAIL_SERVER: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-smtp-config', 'MAIL_SERVER', 2) }}}
    MAIL_USERNAME: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-smtp-config', 'MAIL_USERNAME', 2) }}}
    MAIL_USE_TLS: true
    NOTIFICATION_QUEUE_NAME: notificationstaging
    OCI_NAMESPACE_PROPORTION: 1
    OCI_NAMESPACE_WHITELIST:
      - redhat
      - operatorframework
      - operator-framework
      - quay
      - coreos
      - outline
    PAGE_TOKEN_KEY: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-publish-config', 'PAGE_TOKEN_KEY', 1) }}}
    PREFERRED_URL_SCHEME: https
    RECAPTCHA_SECRET_KEY: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-publish-config', 'RECAPTCHA_SECRET_KEY', 1) }}}
    RECAPTCHA_SITE_KEY: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-publish-config', 'RECAPTCHA_SITE_KEY', 1) }}}
    REGISTRY_TITLE: Quay Stage
    REGISTRY_TITLE_SHORT: Tom's Quay
    SECRET_KEY: {{{ vault('app-interface/quayio-stage/quayio-stage/quayio-publish-config', 'SECRET_KEY', 1) }}}
    SECURITY_SCANNER_API_BATCH_TIMEOUT_SECONDS: 480
    SECURITY_SCANNER_API_TIMEOUT_SECONDS: 30
    SECURITY_SCANNER_API_VERSION: v1
    SECURITY_SCANNER_ENDPOINT: 'https://api.clair.quay.io:6060'
    SECURITY_SCANNER_ENDPOINT_BATCH: 'https://worker.clair.quay.io:6060'
    SECURITY_SCANNER_ENGINE_VERSION_TARGET: 3
    SECURITY_SCANNER_INDEXING_INTERVAL: 30
    SECURITY_SCANNER_INDEXING_MIN_ID: 119492130
    SECURITY_SCANNER_ISSUER_NAME: clair
    SERVER_HOSTNAME: stage.quay.io
    SETUP_COMPLETE: true
    SIGNING_ENGINE: gpg2
    SIGNING_NAMESPACE_WHITELIST:
      - coreos
      - quay
      - mstyne
    STATIC_SITE_BUCKET: 'https://s3.amazonaws.com/staging-s3.quay.io/'
    TESTING: false
    THREAT_NAMESPACE_MAXIMUM_BUILD_COUNT: 1
    TUF_HOST: apostille.stage.quay.io
    TUF_SERVER: 'https://apostille.stage.quay.io'
    USERFILES_LOCATION: s3_us_east_1
    USERFILES_PATH: userfiles/
    USER_EVENTS_REDIS:
      host: {{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-elasticache', 'db.endpoint') }}}
      password: {{{ vault('app-sre/integrations-output/terraform-resources/quays02ue1/quay/quayio-stage-elasticache', 'db.auth_token') }}}
      ssl: true
    SUPER_USERS:
      - quayadmin
    TAG_EXPIRATION_OPTIONS:
      - 0s
      - 1d
      - 1w
      - 2w
      - 4w
    TEAM_RESYNC_STALE_TIME: 60m
    USE_CDN: false
    V22_NAMESPACE_WHITELIST:
      - openshift-qe-optional-operators
      - openshift-cloud-functions
      - projectquay
      - rh-osbs
      - rh-osbs-stage
      - openshift-knative
      - kbrwn
      - eparis
      - jzelinskie
      - mkonline
      - ibazulic
      - ibazulic1
      - ohman
      - rhdevelopers
      - workspace7
      - prometheus
      - k8s
      - openshift
      - openshift-pipeline
      - openshift-release-dev
      - openshift-knative
      - sdase
      - hendrikhalkow
      - josephschorr
      - kleesinc
      - operatorframework
      - operator-framework
      - joelanford
      - cnorman
      - altissia
      - gravitational
      - solarwinds
      - upskill
      - mercedesbenzio
      - jetstack
      - jetstack-james
    V3_UPGRADE_MODE: complete
    FEATURE_SECURTIY_SCANNING: false
    SECURITY_SCANNER_V4_ENDPOINT: http://clair.stage.quay.io
    SECURITY_SCANNER_V4_NAMESPACE_WHITELIST:
      - "clairv4testing"
    {{% endb64encode %}}
  default-cloudfront-signing-key.pem:
    {{% b64encode %}}{{{ vault('app-interface/quayio-stage/quayio-stage/quay-config-secret', 'default-cloudfront-signing-key.pem', '{{ vault_secret_version }}') }}}{{% endb64encode %}}
  extra_ca_clair.crt:
    {{% b64encode %}}{{{ vault('app-interface/quayio-stage/quayio-stage/quay-config-secret', 'extra_ca_clair.crt', '{{ vault_secret_version }}') }}}{{% endb64encode %}}
  license:
    {{% b64encode %}}{{{ vault('app-interface/quayio-stage/quayio-stage/quay-config-secret', 'license', '{{ vault_secret_version }}') }}}{{% endb64encode %}}
  quay-staging-enc.key:
    {{% b64encode %}}{{{ vault('app-interface/quayio-stage/quayio-stage/quay-config-secret', 'quay-staging-enc.key', '{{ vault_secret_version }}') }}}{{% endb64encode %}}
  quay-staging.cert:
    {{% b64encode %}}{{{ vault('app-interface/quayio-stage/quayio-stage/quay-config-secret', 'quay-staging.cert', '{{ vault_secret_version }}') }}}{{% endb64encode %}}
  rds-ssl-ca-cert.pem:
    {{% b64encode %}}{{{ vault('app-interface/quayio-stage/quayio-stage/quay-config-secret', 'rds-ssl-ca-cert.pem', '{{ vault_secret_version }}') }}}{{% endb64encode %}}
  robots.txt:
    {{% b64encode %}}
    User-agent: *
    Disallow: /
    Noindex: /
    {{% endb64encode %}}
  signing-private.gpg:
    {{{ vault('app-interface/quayio-stage/quayio-stage/quay-config-secret', 'signing-private.gpg_qb64', '{{ vault_secret_version }}') }}}
  signing-public.gpg:
    {{% b64encode %}}{{{ vault('app-interface/quayio-stage/quayio-stage/quay-config-secret', 'signing-public.gpg', '{{ vault_secret_version }}') }}}{{% endb64encode %}}
  ssl.cert:
    {{% b64encode %}}{{{ vault('app-interface/quayio-stage/quayio-stage/quay-config-secret', 'ssl.cert', '{{ vault_secret_version }}') }}}{{% endb64encode %}}
  ssl.key:
    {{% b64encode %}}{{{ vault('app-interface/quayio-stage/quayio-stage/quay-config-secret', 'ssl.key', '{{ vault_secret_version }}') }}}{{% endb64encode %}}
