$schema: /app-interface/prometheus-rule-test-1.yml

rule_files:
- /services/app-sre-observability/rds-logs-storage-size.prometheusrules.yaml.j2

evaluation_interval: 10m


# we use identifiers of DBs that actually exist since we are now dynamically generating per-resource alerts
# https://issues.redhat.com/browse/APPSRE-4750

tests:
- interval: 10m
  input_series:
  - series: aws_resources_exporter_rds_allocatedstorage{dbinstance_identifier="grafana-stage-int"}
    values: 100+0x6
  - series: aws_resources_exporter_rds_logsstorage_size_bytes{dbinstance_identifier="grafana-stage-int"}
    values: 0 0 10 10 30 30 30

  alert_rule_test:
  # Test the no alert case
  - eval_time: 10m
    alertname: RDSLogsStorageSize
    exp_alerts:

  - eval_time: 30m
    alertname: RDSLogsStorageSize
    exp_alerts:

  - eval_time: 60m
    alertname: RDSLogsStorageSize
    exp_alerts:
    - exp_labels:
        app: app-sre-observability
        dbinstance_identifier: grafana-stage-int
        service: app-sre-observability
        severity: medium
        jiralert: APPSRE
      exp_annotations:
        message: "Log files of grafana-stage-int RDS instance, in AWS account app-sre-stage are using more than 20% of the allocated storage."
        runbook: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/app-sre/sop/rds-logs-storage-size.md"
