---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: rds-approved-versions
spec:
  groups:
  # Do not update this check without first updating the expression in rds-approved-versions-test.prometheusrules.yaml
  # and ensuring that the tests still pass.
  - name: rds-version-checks
    rules:
    {{%- for namespace in query('/queries/namespace-terraform-app-jira.graphql') %}}
    # terraformResources
    {{%- if (namespace.managedTerraformResources and namespace.terraformResources) %}}
    {{%- for tfr in namespace.terraformResources %}}
    {{%- if tfr.account in accounts_with_aws_resource_exporter and tfr.provider == 'rds' %}}
    - alert: RDSCompliantEngineVersionCheck
      annotations:
        message: "The {{{ tfr.identifier }}} RDS instance, in AWS account {{{ tfr.account }}}, is running an unapproved database engine version. Please upgrade your database to use an approved version. See the link_url of this alert for more information about the deadline and the runbook for more information about upgrading the database."
        link_url: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/aws/maintenance/rds-upgrades-june-2022.md"
        runbook: "https://gitlab.cee.redhat.com/service/app-interface#rds-minor-version-upgrades"
      expr: |
        aws_resources_exporter_rds_engineversion{dbinstance_identifier="{{{ tfr.identifier }}}",engine="postgres", engine_version!~"10\\.1[7-9]|10\\.2[0-9]|11\\.1[2-9]|11\\.2[0-9]|12\\.[7-9]|12\\.[1-2][0-9]|13\\.[3-9]|13\\.1[0-9]|13\\.2[0-9]|14\\.[0-9]*"} or aws_resources_exporter_rds_engineversion{dbinstance_identifier="{{{ tfr.identifier }}}",engine="mysql", engine_version!~"5\\.7\\.3[3-9]|5\\.7\\.4[0-9]|8\\.0\\.2[3-9]|8\\.0\\.3[0-9]|8\\.0\\.4[0-9]"}
      for: 10m
      labels:
        app: {{{ namespace.app.name }}}
        service: rds-approved-versions
        severity: high
        jiralert: {{{ namespace.app.escalationPolicy.channels.jiraBoard[0].name }}}
    {{%- endif %}}
    {{%- endfor %}}
    {{%- endif %}}
    # externalResources
    {{%- if (namespace.managedExternalResources and namespace.externalResources) %}}
    {{%- for er in namespace.externalResources %}}
    {{%- if (er.provider == 'aws' and er.provisioner.name in accounts_with_aws_resource_exporter) %}}
    {{%- for tfr in er.resources %}}
    {{%- if tfr.provider == 'rds' %}}
    - alert: RDSCompliantEngineVersionCheck
      annotations:
        message: "The {{{ tfr.identifier }}} RDS instance, in AWS account {{{ er.provisioner.name }}}, is running an unapproved database engine version. Please upgrade your database to use an approved version. See the link_url of this alert for more information about the deadline and the runbook for more information about upgrading the database."
        link_url: "https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/aws/maintenance/rds-upgrades-june-2022.md"
        runbook: "https://gitlab.cee.redhat.com/service/app-interface#rds-minor-version-upgrades"
      expr: |
        aws_resources_exporter_rds_engineversion{dbinstance_identifier="{{{ tfr.identifier }}}",engine="postgres", engine_version!~"10\\.1[7-9]|10\\.2[0-9]|11\\.1[2-9]|11\\.2[0-9]|12\\.[7-9]|12\\.[1-2][0-9]|13\\.[3-9]|13\\.1[0-9]|13\\.2[0-9]|14\\.[0-9]*"} or aws_resources_exporter_rds_engineversion{dbinstance_identifier="{{{ tfr.identifier }}}",engine="mysql", engine_version!~"5\\.7\\.3[3-9]|5\\.7\\.4[0-9]|8\\.0\\.2[3-9]|8\\.0\\.3[0-9]|8\\.0\\.4[0-9]"}
      for: 10m
      labels:
        app: {{{ namespace.app.name }}}
        service: rds-approved-versions
        severity: high
        jiralert: {{{ namespace.app.escalationPolicy.channels.jiraBoard[0].name }}}
    {{%- endif %}}
    {{%- endfor %}}
    {{%- endif %}}
    {{%- endfor %}}
    {{%- endif %}}
    {{%- endfor %}}
