---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudwatch-exporter-config
  annotations:
    qontract.recycle: "true"
data:
  config.yml: |
    ---
    region: us-east-1
    metrics:
    # AWS RDS Metrics
    - aws_namespace: AWS/RDS
      aws_metric_name: CPUUtilization
      aws_dimensions: [DBInstanceIdentifier]
      aws_statistics: [Average, Maximum, Minimum]
      delay_seconds: {{ rds_delay_seconds | default('600') }}
    - aws_namespace: AWS/RDS
      aws_metric_name: DatabaseConnections
      aws_dimensions: [DBInstanceIdentifier]
      aws_statistics: [Average, Sum]
      delay_seconds: {{ rds_delay_seconds | default('600') }}
    - aws_namespace: AWS/RDS
      aws_metric_name: FreeableMemory
      aws_dimensions: [DBInstanceIdentifier]
      aws_statistics: [Average, Sum]
      delay_seconds: {{ rds_delay_seconds | default('600') }}
    - aws_namespace: AWS/RDS
      aws_metric_name: FreeStorageSpace
      aws_dimensions: [DBInstanceIdentifier]
      aws_statistics: [Average, Sum]
      delay_seconds: {{ rds_delay_seconds | default('600') }}
    # - aws_namespace: AWS/RDS
    #   aws_metric_name: NetworkReceiveThroughput
    #   aws_dimensions: [DBInstanceIdentifier]
    #   aws_statistics: [Average, Sum]
    #   delay_seconds: {{ rds_delay_seconds | default('600') }}
    # - aws_namespace: AWS/RDS
    #   aws_metric_name: NetworkTransmitThroughput
    #   aws_dimensions: [DBInstanceIdentifier]
    #   aws_statistics: [Average, Sum]
    #   delay_seconds: {{ rds_delay_seconds | default('600') }}
    # - aws_namespace: AWS/RDS
    #   aws_metric_name: NetworkReceiveThroughput
    #   aws_dimensions: [DBInstanceIdentifier]
    #   aws_statistics: [Average, Sum]
    #   delay_seconds: {{ rds_delay_seconds | default('600') }}
    - aws_namespace: AWS/RDS
      aws_metric_name: ReadLatency
      aws_dimensions: [DBInstanceIdentifier]
      aws_statistics: [Average, Sum]
      delay_seconds: {{ rds_delay_seconds | default('600') }}
    # - aws_namespace: AWS/RDS
    #   aws_metric_name: ReadThroughput
    #   aws_dimensions: [DBInstanceIdentifier]
    #   aws_statistics: [Average, Sum]
    #   delay_seconds: {{ rds_delay_seconds | default('600') }}
    # - aws_namespace: AWS/RDS
    #   aws_metric_name: WriteIOPS
    #   aws_dimensions: [DBInstanceIdentifier]
    #   aws_statistics: [Average, Sum]
    #   delay_seconds: {{ rds_delay_seconds | default('600') }}
    - aws_namespace: AWS/RDS
      aws_metric_name: WriteLatency
      aws_dimensions: [DBInstanceIdentifier]
      aws_statistics: [Average, Sum]
      delay_seconds: {{ rds_delay_seconds | default('600') }}
    - aws_namespace: AWS/RDS
      aws_metric_name: ReadIOPS
      aws_dimensions: [DBInstanceIdentifier]
      aws_statistics: [Average]
      delay_seconds: {{ rds_delay_seconds | default('600') }}
    - aws_namespace: AWS/RDS
      aws_metric_name: WriteIOPS
      aws_dimensions: [DBInstanceIdentifier]
      aws_statistics: [Average]
      delay_seconds: {{ rds_delay_seconds | default('600') }}
    # - aws_namespace: AWS/RDS
    #   aws_metric_name: WriteThroughput
    #   aws_dimensions: [DBInstanceIdentifier]
    #   aws_statistics: [Average, Sum]
    #   delay_seconds: {{ rds_delay_seconds | default('600') }}
    # - aws_namespace: AWS/RDS
    #   aws_metric_name: AllocatedStorage
    #   aws_dimensions: [DBInstanceIdentifier]
    #   aws_statistics: [Average, Sum]
    #   delay_seconds: {{ rds_delay_seconds | default('600') }}
    - aws_namespace: AWS/RDS
      aws_metric_name: BurstBalance
      aws_dimensions: [DBInstanceIdentifier]
      aws_statistics: [Average]
      delay_seconds: {{ rds_delay_seconds | default('600') }}

    # AWS EC2 Metrics
    - aws_namespace: "AWS/EC2"
      aws_dimensions: [InstanceId]
      aws_metric_name: CPUUtilization
      aws_statistics: [Average]
    # - aws_namespace: "AWS/EC2"
    #   aws_dimensions: [InstanceId]
    #   aws_metric_name: NetworkIn
    #   aws_statistics: [Average]
    # - aws_namespace: "AWS/EC2"
    #   aws_dimensions: [InstanceId]
    #   aws_metric_name: NetworkOut
    #   aws_statistics: [Average]
    # - aws_namespace: "AWS/EC2"
    #   aws_dimensions: [InstanceId]
    #   aws_metric_name: DiskReadOps
    #   aws_statistics: [Average]
    # - aws_namespace: "AWS/EC2"
    #   aws_dimensions: [InstanceId]
    #   aws_metric_name: DiskWriteOps
    #   aws_statistics: [Average]
    # - aws_namespace: "AWS/EC2"
    #   aws_dimensions: [InstanceId]
    #   aws_metric_name: DiskReadBytes
    #   aws_statistics: [Average]
    # - aws_namespace: "AWS/EC2"
    #   aws_dimensions: [InstanceId]
    #   aws_metric_name: DiskWriteBytes
    #   aws_statistics: [Average]
    # - aws_namespace: "AWS/EC2"
    #   aws_dimensions: [InstanceId]
    #   aws_metric_name: NetworkPacketsIn
    #   aws_statistics: [Average]
    # - aws_namespace: "AWS/EC2"
    #   aws_dimensions: [InstanceId]
    #   aws_metric_name: NetworkPacketsOut
    #   aws_statistics: [Average]
    # - aws_namespace: "AWS/EC2"
    #   aws_dimensions: [InstanceId]
    #   aws_metric_name: StatusCheckFailed
    #   aws_statistics: [Average]
    # - aws_namespace: "AWS/EC2"
    #   aws_dimensions: [InstanceId]
    #   aws_metric_name: StatusCheckFailed_Instance
    #   aws_statistics: [Average]
    # - aws_namespace: "AWS/EC2"
    #   aws_dimensions: [InstanceId]
    #   aws_metric_name: StatusCheckFailed_System
    #   aws_statistics: [Average]

    # AWS S3 Metrics
    ### Daily storage metrics, updated daily, available on all S3 buckets by default ###
    - aws_namespace: "AWS/S3"
      aws_dimensions: [BucketName, StorageType]
      aws_metric_name: BucketSizeBytes
      aws_statistics: [Average]
      range_seconds: 172800
      period_seconds: 86400
      set_timestamp: false
    - aws_namespace: "AWS/S3"
      aws_dimensions: [BucketName, StorageType]
      aws_metric_name: NumberOfObjects
      aws_statistics: [Average]
      range_seconds: 172800
      period_seconds: 86400
      set_timestamp: false
    ### Request metrics, updated every minute, need opt-in in CloudWatch and costs $$$ ###
    # - aws_namespace: "AWS/S3"
    #   aws_dimensions: [BucketName, StorageType]
    #   aws_metric_name: AllRequests
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/S3"
    #   aws_dimensions: [BucketName, StorageType]
    #   aws_metric_name: GetRequests
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/S3"
    #   aws_dimensions: [BucketName, StorageType]
    #   aws_metric_name: PutRequests
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/S3"
    #   aws_dimensions: [BucketName, StorageType]
    #   aws_metric_name: DeleteRequests
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/S3"
    #   aws_dimensions: [BucketName, StorageType]
    #   aws_metric_name: PostRequests
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/S3"
    #   aws_dimensions: [BucketName, StorageType]
    #   aws_metric_name: HeadRequests
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/S3"
    #   aws_dimensions: [BucketName, StorageType]
    #   aws_metric_name: ListRequests
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/S3"
    #   aws_dimensions: [BucketName, StorageType]
    #   aws_metric_name: BytesDownloaded
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/S3"
    #   aws_dimensions: [BucketName, StorageType]
    #   aws_metric_name: BytesUploaded
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/S3"
    #   aws_dimensions: [BucketName, StorageType]
    #   aws_metric_name: 4xxErrors
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/S3"
    #   aws_dimensions: [BucketName, StorageType]
    #   aws_metric_name: 5xxErrors
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/S3"
    #   aws_dimensions: [BucketName, StorageType]
    #   aws_metric_name: FirstByteLatency
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/S3"
    #   aws_dimensions: [BucketName, StorageType]
    #   aws_metric_name: TotalRequestLatency
    #   aws_statistics: [Sum]

    # AWS EBS Metrics
    # - aws_namespace: "AWS/EBS"
    #   aws_dimensions: [VolumeId]
    #   aws_metric_name: VolumeReadBytes
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/EBS"
    #   aws_dimensions: [VolumeId]
    #   aws_metric_name: VolumeWriteBytes
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/EBS"
    #   aws_dimensions: [VolumeId]
    #   aws_metric_name: VolumeReadOps
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/EBS"
    #   aws_dimensions: [VolumeId]
    #   aws_metric_name: VolumeTotalReadTime
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/EBS"
    #   aws_dimensions: [VolumeId]
    #   aws_metric_name: VolumeTotalWriteTime
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/EBS"
    #   aws_dimensions: [VolumeId]
    #   aws_metric_name: VolumeIdleTime
    #   aws_statistics: [Sum]
    # - aws_namespace: "AWS/EBS"
    #   aws_dimensions: [VolumeId]
    #   aws_metric_name: VolumeQueueLength
    #   aws_statistics: [Sum]

    # AWS ES Metrics
    - aws_namespace: "AWS/ES"
      aws_metric_name: ClusterStatus.green
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: ClusterStatus.yellow
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: ClusterStatus.red
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: Nodes
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: AutomatedSnapshotFailure
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: FreeStorageSpace
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: FreeStorageSpace
      aws_dimensions: [DomainName, ClientId, NodeId]
      aws_statistics: [Minimum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: CPUUtilization
      aws_dimensions: [DomainName, ClientId, NodeId]
      aws_statistics: [Maximum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: JVMMemoryPressure
      aws_dimensions: [DomainName, ClientId, NodeId]
      aws_statistics: [Maximum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: MasterFreeStorageSpace
      aws_dimensions: [DomainName, ClientId, NodeId]
      aws_statistics: [Minimum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: MasterCPUUtilization
      aws_dimensions: [DomainName, ClientId, NodeId]
      aws_statistics: [Maximum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: MasterJVMMemoryPressure
      aws_dimensions: [DomainName, ClientId, NodeId]
      aws_statistics: [Maximum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: SearchableDocuments
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: IndexingRate
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: IndexingLatency
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: SearchRate
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: SearchLatency
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: SegmentCount
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: ThreadpoolSearchQueue
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: ThreadpoolSearchRejected
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: ThreadpoolIndexQueue
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: ThreadpoolIndexRejected
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: ThreadpoolBulkQueue
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: ThreadpoolBulkRejected
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: ReadLatency
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Minimum, Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: WriteLatency
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Minimum, Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: ReadThroughput
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Minimum, Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: WriteThroughput
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Minimum, Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: DiskQueueDepth
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Minimum, Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: ReadIOPS
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Minimum, Maximum,Sum]
    - aws_namespace: "AWS/ES"
      aws_metric_name: WriteIOPS
      aws_dimensions: [DomainName, ClientId]
      aws_statistics: [Minimum, Maximum,Sum]
