---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: insights-topological-inventory-stage
  labels:
    prometheus: app-sre
    role: alert-rules
spec:
  groups:
  - name: topology-api-stage
    rules:
      - alert: TopologyApi5xxErrors
        expr: (sum(rate(api_3scale_gateway_api_status{exported_service="topological-inventory",status="5xx"}[1m])) / sum(rate(api_3scale_gateway_api_status{exported_service="topological-inventory"}[1m]))) * 100 > 50
        for: 10m
        labels:
          severity: info
          service: insights
          env: stage
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crc-stg-01.o4v9.p1.openshiftapps.com/k8s/ns/topological-inventory-stage/deployments/topological-inventory-api"
          message: "Topology API has been throwing 5xx errors more than 50% of the time for the last 10 minutes"
  - name: topology-collector-ansible-tower-stage
    rules:
      - alert: TopologyCollectorAnsibleTowerErrors
        expr: (sum(increase(topological_inventory_ansible_tower_collector_errors_total[1m])) / count(increase(topological_inventory_ansible_tower_collector_errors_total[1m]))) > 50
        for: 10m
        labels:
          severity: info
          service: insights
          env: stage
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crc-stg-01.o4v9.p1.openshiftapps.com/k8s/ns/topological-inventory-stage/deployments"
          message: "Ansible Tower Collector(s) have logged > 50 errors in the last 10 minutes"
  - name: topology-persister-queue-depth-stage
    rules:
      - alert: TopologyPersisterQueueDepth
        expr: (sum(increase(topological_inventory_ingress_api_message_on_queue[1m])) / sum(increase(topological_inventory_persister_messages_total[1m]))) > 2
        for: 10m
        labels:
          severity: medium
          service: insights
          env: stage
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crc-stg-01.o4v9.p1.openshiftapps.com/k8s/ns/topological-inventory-stage/deployments"
          message: "Persister queue depth has been increasing for the last 10 minutes"
  - name: topology-ingress-stage
    rules:
      - alert: TopologyIngressErrors
        expr: (sum(increase(topological_inventory_ingress_api_error_processing_payload[1m])) / count(increase(topological_inventory_ingress_api_error_processing_payload[1m]))) > 50
        for: 10m
        labels:
          severity: info
          service: insights
          env: stage
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crc-stg-01.o4v9.p1.openshiftapps.com/k8s/ns/topological-inventory-stage/deployments/topological-inventory-ingress-api"
          message: 'Ingress(s) have logged > 50 errors in the last 10 minutes'
  - name: topology-metric-scaler-stage
    rules:
      - alert: TopologyMetricScalerPrometheusErrors
        expr: (sum(increase(topological_inventory_orchestrator_metric_scaler_error[10m]))) > 3
        for: 1m
        labels:
          severity: high
          service: insights
          env: stage
        annotations:
          dashboard: "https://GRAFANA_URL"
          link_url: "https://console-openshift-console.apps.crc-stg-01.o4v9.p1.openshiftapps.com/k8s/ns/topological-inventory-stage/deployments/topological-inventory-metric-scaler"
          message: 'Metric Scaler has been failing to fetch Prometheus Metrics for the last 10 minutes'
