---
$schema: /app-interface/prometheus-rule-test-1.yml
rule_files:
- /image-builder/production/db/image-builder-db-prometheusrules.yml

evaluation_interval: 5m

tests:
  # 1% of db storage left
  - interval: 5m
    input_series:
    - series: aws_rds_free_storage_space_sum{dbinstance_identifier="image-builder-composer-db-prod"}
      values: '0 0 0 0.009 0+1x10'
    alert_rule_test:
    - eval_time: 30m
      alertname: ImageBuilderProdStorageLow1Percent
      exp_alerts: []
    - eval_time: 35m
      alertname: ImageBuilderProdStorageLow1Percent
      exp_alerts:
      - exp_labels:
          severity: critical
          service: image-builder
          env: prod
        exp_annotations:
          message: "Database image-builder-composer-db-prod has less than 1% of free space"
          runbook: "https://gitlab.cee.redhat.com/service/app-interface/blob/master/docs/aws/aws-rds-resources.md#rdsstoragelow"
          dashboard: "https://grafana.app-sre.devshift.net"
    - eval_time: 40m
      alertname: ImageBuilderProdStorageLow1Percent
      exp_alerts: []

  # 10% of storage left
  - interval: 5m
    input_series:
    - series: aws_rds_free_storage_space_sum{dbinstance_identifier="image-builder-composer-db-prod"}
      values: '0 0 0 0.09 0+1x10'
    alert_rule_test:
    - eval_time: 30m
      alertname: ImageBuilderProdStorageLow10Percent
      exp_alerts: []
    - eval_time: 35m
      alertname: ImageBuilderProdStorageLow10Percent
      exp_alerts:
      - exp_labels:
          severity: medium
          service: image-builder
          env: prod
        exp_annotations:
          message: "Database image-builder-composer-db-prod has less than 10% of free space"
          runbook: "https://gitlab.cee.redhat.com/service/app-interface/blob/master/docs/aws/aws-rds-resources.md#rdsstoragelow"
          dashboard: "https://grafana.app-sre.devshift.net"
    - eval_time: 40m
      alertname: ImageBuilderProdStorageLow10Percent
      exp_alerts: []

  # 30% of db storage left
  - interval: 5m
    input_series:
    - series: aws_rds_free_storage_space_sum{dbinstance_identifier="image-builder-composer-db-prod"}
      values: '0 0 0+1x10'
    alert_rule_test:
    - eval_time: 20m
      alertname: ImageBuilderProdStorageLow30Percent
      exp_alerts: []
    - eval_time: 25m
      alertname: ImageBuilderProdStorageLow30Percent
      exp_alerts:
      - exp_labels:
          severity: info
          service: image-builder
          env: prod
        exp_annotations:
          message: "Database image-builder-composer-db-prod has less than 30% of free space"
          runbook: "https://gitlab.cee.redhat.com/service/app-interface/blob/master/docs/aws/aws-rds-resources.md#rdsstoragelow"
          dashboard: "https://grafana.app-sre.devshift.net"
    - eval_time: 30m
      alertname: ImageBuilderProdStorageLow30Percent
      exp_alerts: []

