# Documentation:
# https://gitlab.cee.redhat.com/service/app-interface/-/blob/master/docs/app-sre/monitoring.md#adding-alerting-for-an-application-from-scratch
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: rhsm-system-profile-bridge-stage
spec:
  groups:
    - name: rhsm-system-profile-bridge-stage
      rules:
        - alert: rhsm-system-profile-bridge is down - stage
          annotations:
            message: "rhsm-system-profile-bridge is down: Prometheus is unable to reach the metrics API."
            # Link to the standard operating procedure for the component
            runbook: "https://gitlab.cee.redhat.com/rhsm/rhsm-system-profile-bridge/-/wikis/runbooks/rhsm-system-profile-bridge-is-down"
            # Link to the component's dashboard, pre-selecting the variables is preferred
            dashboard: "https://grafana.stage.devshift.net/d/rhsm-system-profile-bridge-dashboard/rhsm-system-profile-bridge-dashboard?orgId=1&var-datasource=crcs02ue1-prometheus"
          expr: |
            absent(up{job="rhsm-system-profile-bridge-service",namespace="rhsm-api-proxy-stage"} == 1)
          # Time for which prometheus waits before actually sending out a notification while the rule is true
          for: 15m
          # Any additional labels that you want to apply for grouping
          # both the `service` and `severity` labels are mandatory
          labels:
            service: rhsm-system-profile-bridge
            severity: medium
