apiVersion: v1
kind: Secret
metadata:
  name: {{{ name }}}
  labels:
    version: {{{ version_label }}}
  {{%- if recycle %}}
  annotations:
    qontract.ignore_reconcile_time: "true"
    qontract.recycle: "true"
  {{%- endif %}}
data:
  config.yaml: >-
    {{% b64encode %}}
    http_listen_addr: :8080
    introspection_addr: ""
    log_level: debug
    indexer:
        connstring: host={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-indexer-rds', 'db.host') }}} port={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-indexer-rds', 'db.port') }}} user={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-indexer-rds', 'db.user') }}} dbname={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-indexer-rds', 'db.name') }}} password={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-indexer-rds', 'db.password') }}} sslmode=require
        scanlock_retry: 10
        layer_scan_concurrency: 10
        migrations: true
        scanner:
            package: {}
            dist: {}
            repo: {}
        airgap: false
        index_report_request_concurrency: 10
    matcher:
        connstring: host={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-matcher-rds', 'db.host') }}} port={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-matcher-rds', 'db.port') }}} user={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-matcher-rds', 'db.user') }}} dbname={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-matcher-rds', 'db.name') }}} password={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-matcher-rds', 'db.password') }}} sslmode=require
        max_conn_pool: 100
        indexer_addr: "http://clair-indexer"
        migrations: true
        period: 6h
        disable_updaters: false  
    matchers:
        config:
            crda:
                source: quayio-prod
                key: {{{ vault('app-interface/clair/production/config', 'crda-api-key', 2) }}}
                ecosystems:
                    - maven

    notifier:
      connstring: host={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-notifier-rds', 'db.host') }}} port={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-notifier-rds', 'db.port') }}} user={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-notifier-rds', 'db.user') }}} dbname={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-notifier-rds', 'db.name') }}} password={{{ vault('app-sre/integrations-output/terraform-resources/clairp01ue1/clair-production/clair-notifier-rds', 'db.password') }}} sslmode=require
      migrations: true
      indexer_addr: "http://clair-indexer"
      matcher_addr: "http://clair-matcher"
      poll_interval: 6h
      delivery_interval: 1m
      amqp: null
      stomp: null
    auth:
        psk:
            key: {{{ vault('app-interface/clair/production/config', 'psk', 1) }}}
            iss:
                - quay
                - clairctl
    metrics:
        name: prometheus
    {{%- endb64encode %}}
