---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: deployment-validation-operator
spec:
  groups:
  - name: deployment-validation-operator.rules
    rules:
    {{%- for cluster in query('/queries/cluster-namespace-app-jira.graphql', name=resource.namespace.cluster.name) %}}
    {{%- for namespace in cluster.namespaces %}}
    {{%- if not namespace.name.startswith('openshift-') %}}
    # deployment_validation_operator_no_anti_affinity
    {{%- if "deployment_validation_operator_no_anti_affinity" not in namespace.app.labels %}}
    - alert: deployment_validation_operator_no_anti_affinity
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/dashdotdb/dash-db?orgId=1&var-datasource=dashdotdb-rds&var-cluster={{{ resource.namespace.cluster.name }}}&var-namespace={{{ namespace.name }}}"
        message: "deployment_validation_operator_no_anti_affinity Validation error for {{{ namespace.app.name }}}: {{ $labels.check_description }}"
        runbook: "{{ $labels.check_remediation }}"
      expr: |
        deployment_validation_operator_no_anti_affinity{exported_namespace="{{{ namespace.name }}}",kind!~"CronJob|Job|ReplicaSet"} > 0
      for: 1m
      labels:
        service: deployment-validation-operator
        app: {{{ namespace.app.name }}}
        severity: medium
        jiralert: {{{ namespace.app.escalationPolicy.channels.jiraBoard[0].name }}}
    {{%- endif %}}
    # deployment_validation_operator_default_service_account
    {{%- if "deployment_validation_operator_default_service_account" not in namespace.app.labels %}}
    - alert: deployment_validation_operator_default_service_account
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/dashdotdb/dash-db?orgId=1&var-datasource=dashdotdb-rds&var-cluster={{{ resource.namespace.cluster.name }}}&var-namespace={{{ namespace.name }}}"
        message: "deployment_validation_operator_default_service_account Validation error for {{{ namespace.app.name }}}: {{ $labels.check_description }}"
        runbook: "{{ $labels.check_remediation }}"
      expr: |
        deployment_validation_operator_default_service_account{exported_namespace="{{{ namespace.name }}}",kind!="ReplicaSet"} > 0
      for: 1m
      labels:
        service: deployment-validation-operator
        app: {{{ namespace.app.name }}}
        severity: medium
        jiralert: {{{ namespace.app.escalationPolicy.channels.jiraBoard[0].name }}}
    {{%- endif %}}
    # deployment_validation_operator_drop_net_raw_capability
    {{%- if "deployment_validation_operator_drop_net_raw_capability" not in namespace.app.labels %}}
    - alert: deployment_validation_operator_drop_net_raw_capability
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/dashdotdb/dash-db?orgId=1&var-datasource=dashdotdb-rds&var-cluster={{{ resource.namespace.cluster.name }}}&var-namespace={{{ namespace.name }}}"
        message: "deployment_validation_operator_drop_net_raw_capability Validation error for {{{ namespace.app.name }}}: {{ $labels.check_description }}"
        runbook: "{{ $labels.check_remediation }}"
      expr: |
        deployment_validation_operator_drop_net_raw_capability{exported_namespace="{{{ namespace.name }}}",kind!~"Pod"} > 0
      for: 1m
      labels:
        service: deployment-validation-operator
        app: {{{ namespace.app.name }}}
        severity: medium
        jiralert: {{{ namespace.app.escalationPolicy.channels.jiraBoard[0].name }}}
    {{%- endif %}}
    # deployment_validation_operator_latest_tag
    {{%- if "deployment_validation_operator_latest_tag" not in namespace.app.labels %}}
    - alert: deployment_validation_operator_latest_tag
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/dashdotdb/dash-db?orgId=1&var-datasource=dashdotdb-rds&var-cluster={{{ resource.namespace.cluster.name }}}&var-namespace={{{ namespace.name }}}"
        message: "deployment_validation_operator_latest_tag Validation error for {{{ namespace.app.name }}}: {{ $labels.check_description }}"
        runbook: "{{ $labels.check_remediation }}"
      expr: |
        deployment_validation_operator_latest_tag{exported_namespace="{{{ namespace.name }}}",kind!~"Pod"} > 0
      for: 1m
      labels:
        service: deployment-validation-operator
        app: {{{ namespace.app.name }}}
        severity: medium
        jiralert: {{{ namespace.app.escalationPolicy.channels.jiraBoard[0].name }}}
    {{%- endif %}}
    # deployment_validation_operator_minimum_three_replicas
    {{%- if "deployment_validation_operator_minimum_three_replicas" not in namespace.app.labels %}}
    - alert: deployment_validation_operator_minimum_three_replicas
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/dashdotdb/dash-db?orgId=1&var-datasource=dashdotdb-rds&var-cluster={{{ resource.namespace.cluster.name }}}&var-namespace={{{ namespace.name }}}"
        message: "deployment_validation_operator_minimum_three_replicas Validation error for {{{ namespace.app.name }}}: {{ $labels.check_description }}"
        runbook: "{{ $labels.check_remediation }}"
      expr: |
        deployment_validation_operator_minimum_three_replicas{exported_namespace="{{{ namespace.name }}}",kind!~"ReplicaSet",name!~"openshift-acme|gabi"} > 0
      for: 1m
      labels:
        service: deployment-validation-operator
        app: {{{ namespace.app.name }}}
        severity: medium
        jiralert: {{{ namespace.app.escalationPolicy.channels.jiraBoard[0].name }}}
    {{%- endif %}}
    # deployment_validation_operator_privileged_ports
    {{%- if "deployment_validation_operator_privileged_ports" not in namespace.app.labels %}}
    - alert: deployment_validation_operator_privileged_ports
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/dashdotdb/dash-db?orgId=1&var-datasource=dashdotdb-rds&var-cluster={{{ resource.namespace.cluster.name }}}&var-namespace={{{ namespace.name }}}"
        message: "deployment_validation_operator_privileged_ports Validation error for {{{ namespace.app.name }}}: {{ $labels.check_description }}"
        runbook: "{{ $labels.check_remediation }}"
      expr: |
        deployment_validation_operator_privileged_ports{exported_namespace="{{{ namespace.name }}}"} > 0
      for: 1m
      labels:
        service: deployment-validation-operator
        app: {{{ namespace.app.name }}}
        severity: medium
        jiralert: {{{ namespace.app.escalationPolicy.channels.jiraBoard[0].name }}}
    {{%- endif %}}
    # deployment_validation_operator_no_liveness_probe
    {{%- if "deployment_validation_operator_no_liveness_probe" not in namespace.app.labels %}}
    - alert: deployment_validation_operator_no_liveness_probe
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/dashdotdb/dash-db?orgId=1&var-datasource=dashdotdb-rds&var-cluster={{{ resource.namespace.cluster.name }}}&var-namespace={{{ namespace.name }}}"
        message: "deployment_validation_operator_no_liveness_probe Validation error for {{{ namespace.app.name }}}: {{ $labels.check_description }}"
        runbook: "{{ $labels.check_remediation }}"
      expr: |
        deployment_validation_operator_no_liveness_probe{exported_namespace="{{{ namespace.name }}}",kind!~"CronJob|Job|ReplicaSet",name!~"openshift-acme|gabi"} > 0
      for: 1m
      labels:
        service: deployment-validation-operator
        app: {{{ namespace.app.name }}}
        severity: medium
        jiralert: {{{ namespace.app.escalationPolicy.channels.jiraBoard[0].name }}}
    {{%- endif %}}
    # deployment_validation_operator_no_readiness_probe
    {{%- if "deployment_validation_operator_no_readiness_probe" not in namespace.app.labels %}}
    - alert: deployment_validation_operator_no_readiness_probe
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/dashdotdb/dash-db?orgId=1&var-datasource=dashdotdb-rds&var-cluster={{{ resource.namespace.cluster.name }}}&var-namespace={{{ namespace.name }}}"
        message: "deployment_validation_operator_no_readiness_probe Validation error for {{{ namespace.app.name }}}: {{ $labels.check_description }}"
        runbook: "{{ $labels.check_remediation }}"
      expr: |
        deployment_validation_operator_no_readiness_probe{exported_namespace="{{{ namespace.name }}}",kind!~"CronJob|Job|ReplicaSet",name!~"openshift-acme|gabi"} > 0
      for: 1m
      labels:
        service: deployment-validation-operator
        app: {{{ namespace.app.name }}}
        severity: medium
        jiralert: {{{ namespace.app.escalationPolicy.channels.jiraBoard[0].name }}}
    {{%- endif %}}
    # deployment_validation_operator_unset_cpu_requirements
    {{%- if "deployment_validation_operator_unset_cpu_requirements" not in namespace.app.labels %}}
    - alert: deployment_validation_operator_unset_cpu_requirements
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/dashdotdb/dash-db?orgId=1&var-datasource=dashdotdb-rds&var-cluster={{{ resource.namespace.cluster.name }}}&var-namespace={{{ namespace.name }}}"
        message: "deployment_validation_operator_unset_cpu_requirements Validation error for {{{ namespace.app.name }}}: {{ $labels.check_description }}"
        runbook: "{{ $labels.check_remediation }}"
      expr: |
        deployment_validation_operator_unset_cpu_requirements{exported_namespace="{{{ namespace.name }}}",name!~"gabi"} > 0
      for: 1m
      labels:
        service: deployment-validation-operator
        app: {{{ namespace.app.name }}}
        severity: medium
        jiralert: {{{ namespace.app.escalationPolicy.channels.jiraBoard[0].name }}}
    {{%- endif %}}
    # deployment_validation_operator_unset_memory_requirements
    {{%- if "deployment_validation_operator_unset_memory_requirements" not in namespace.app.labels %}}
    - alert: deployment_validation_operator_unset_memory_requirements
      annotations:
        dashboard: "https://grafana.app-sre.devshift.net/d/dashdotdb/dash-db?orgId=1&var-datasource=dashdotdb-rds&var-cluster={{{ resource.namespace.cluster.name }}}&var-namespace={{{ namespace.name }}}"
        message: "deployment_validation_operator_unset_memory_requirements Validation error for {{{ namespace.app.name }}}: {{ $labels.check_description }}"
        runbook: "{{ $labels.check_remediation }}"
      expr: |
        deployment_validation_operator_unset_memory_requirements{exported_namespace="{{{ namespace.name }}}",name!~"gabi"} > 0
      for: 1m
      labels:
        service: deployment-validation-operator
        app: {{{ namespace.app.name }}}
        severity: medium
        jiralert: {{{ namespace.app.escalationPolicy.channels.jiraBoard[0].name }}}
    {{%- endif %}}
    {{%- endif %}}
    {{%- endfor %}}
    {{%- endfor %}}
