---
$schema: /openshift/prometheus-rule-1.yml
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: app-sre
    role: alert-rules
  name: app-sre-contract
spec:
  groups:
  - name: contract-violations.rules
    rules:
    {{%- for app in query('/queries/apps.graphql') %}}
    {{%- if app.onboardingStatus == 'OnBoarded' %}}
    # architectureDocument
    {{%- if not url(app.architectureDocument) %}}
    - alert: IncorrectMetadataArchitectureDocument
      annotations:
        dashboard: ""
        message: "We have identified that app {{{ app.name }}}, stored in app-interface under {{{ app.path }}} does not have a valid architectureDocument. The value we have found is {{{ app.architectureDocument }}}."
        runbook: "Please correct this piece of information, which is part of the acceptance criteria for keeping this application supported by app-sre."
        link_url: "https://gitlab.cee.redhat.com/app-sre/contract/-/blob/master/content/service/metadata.md"
      expr: |
        1
      for: 1m
      labels:
        service: app-sre-contract
        app: {{{ app.name }}}
        severity: medium
        jiralert: {{{ app.escalationPolicy.channels.jiraBoard[0].name }}}
    {{%- endif %}}
    # end architectureDocument
    {{%- endif %}}
    {{%- endfor %}}
